[2021-02-01 11:08] MarcusTomlinson opened #4 "Installer smoke tests failing"
'Ubuntu Desktop installer smoke tests' is currently failing due to the following deprecation:

https://api.flutter.dev/flutter/widgets/BuildContext/inheritFromWidgetOfExactType.html

Output:

[code]

[2021-02-01 22:54] ItzSwirlz opened #5 "[Log Warning] Try Ubuntu: Exception caught by gesture"
[code]

[2021-02-02 09:10] oSoMoN commented on #5
Thanks for the report. The "Try Ubuntu" option is simply not implemented at this point, so that's an expected exception.
Keep in mind that this is a very early prototype and very little is actually implemented. That said, testing and feedback is always welcome!

[2021-02-02 10:59] ensag-dev opened #7 "i18n: use launchpad or weblate"
Hello,
I'd like to translate the brand new installer but I'm not confident with the way translations are handled.
Would it be possible to use an interface like launchpad or a weblate instance?

[2021-02-02 11:07] Lennoard commented on #7
Me too. I have it done though, but I'm afraid to PR and mess up everything.

[2021-02-02 12:05] ArishSultan opened #8 "Contribution Guide!"
Hi, I want to contribute to this project, is there any guide or a roadmap?

[2021-02-02 12:55] HK0811 opened #9 "Removing the installer?"
I wanted to remove the installer but I can't find any tutorial about removing it.

[2021-02-02 12:59] MarcusTomlinson commented on #9
Remove the installer project:

`rm -rf ubuntu-desktop-installer`

Remove Flutter:

[code]

[2021-02-02 12:59] #9 closed

[2021-02-02 14:20] oSoMoN commented on #7
This is great, translations are very welcome!

I have a pending work item to research how to integrate the installer's translations with either Launchpad or another more user-friendly interface, so let's use this issue to track it.

If you have done translations already, do not be afraid to make a PR, we'll be reviewing and advising. Thanks in advance!

[2021-02-02 22:14] mugman174 opened #12 "CMake Error and Exception during `flutter run`"
I run all of the commands to checkout and run on the README, but once I run `flutter run`, it gives me an error:
[code]
My OS: Ubuntu Focal 20.04.2 LTS

###### P.S. This is the first Issue I have ever submitted, just fyi.

[2021-02-02 22:25] MarcusTomlinson commented on #12
I think something failed in your set up earlier than this.

Please could you run through the whole checkout & run process again and share all logs.

[2021-02-02 22:55] mugman174 commented on #12
I just deleted the entire folder and rebuilt it. It works now. Strange... Anyways I'm gonna close this because problem solved.

[2021-02-02 22:55] #12 closed

[2021-02-02 23:40] fabiancrx opened #13 "Hyperlink not changing mouse cursor on hover"
I know it's a little silly to land an issue of a UI problem this early, but it comes with thte intention to land a PR(using url_launcher already includeded in the dependencies) to fix it.
And to ask for guidelines or roadmap to help this project (#8 ), as this would be a huge success to flutter if accomplished.

Problem:
In the try or install screen the release notes link does not change mouse cur

[2021-02-03 01:28] kenvandine commented on #8
Right now the designs aren't in a public place, we'll work to get them published in a place that makes it easier to collaborate. Your contributions are welcome, and appreciated, just give us a little time to get prepared.

[2021-02-04 15:34] Mannshoch opened #16 "Add Preset / Unattended Installation possibility"
Allow to set-up an Unattended Installation config file. In the example below you will find some Idea for the new Installation manager.

It should be possible to place a config file into root of certain partition of any drive attached to the computer
This config File should allow to set-up the whole Installation and some additionals

e.g.
[code]

[2021-02-04 18:20] iapicca commented on #8
@kenvandine
I'd like to sign the [cla](https://ubuntu.com/legal/contributors/agreement) but I'm not sure
what to insert at `Please add the Canonical Project Manager or contact`

[2021-02-04 18:51] kenvandine commented on #8
You can reference me as your contact.  Thanks!

[2021-02-06 19:12] Atalanttore opened #22 "Optional partition content preview in partition dialog"
It would be useful to have an optional preview of the partition content (files, directories) **within** the partition dialog.

From the partition content you can quickly see whether it is really the desired partition (for deletion, formatting, etc.) and you have not mixed up something.

[2021-02-09 21:01] ArishSultan opened #23 "Use latest localization technique"
I have read some of the code and I can see that the old technique is being used for localization. whereas the new technique is much easier to use and it will reduce the overall complexity.

I propose to implement localization (using a new technique). If you approve this proposal then do comment so I will create a PR.

[2021-02-09 21:03] oSoMoN commented on #23
Would you mind elaborating on what you call "the new technique"? Do you have pointers to documentation and/or a list of advantages over the current implementation?

[2021-02-10 00:56] fitojb commented on #7
I’d prefer any internationalization effort to be invested in Weblate rather than Launchpad, for the reasons I stated here:

https://discourse.ubuntu.com/t/ubuntu-should-use-weblate-instead-of-launchpad-rosetta/14944

[2021-02-10 07:22] ArishSultan commented on #23
Currently, `intl_translation` is being used but the flutter simplifies this process. This plugin generates a lot of extra files and I can see that the `i18n.dart` file is being managed manually.

I can send you a document that explains the process of localization. (give me your email)

[2021-02-10 07:30] oSoMoN commented on #23
There is no need for this to be a private conversation, other contributors could potentially be interested. Can you please share this document here?

[2021-02-10 07:35] ArishSultan commented on #23
No Problem, here is the link,

https://drive.google.com/file/d/1xfga1vuBfPBhwPL-p3ZMWoYwMb3eC-X1/view?usp=sharing

[2021-02-10 15:46] ArishSultan commented on #23
I am waiting for your response!

[2021-02-11 06:08] jhenstridge commented on #7
For what it is worth, I did some investigation into how to get snapd's translations into Launchpad.  Some of what I found might be applicable here.

The Launchpad API does not include a method for direct upload of translation templates as found in its web interface.  It does support importing from a Bazaar branch though.  If you are happy to have an up to date translation template checked into the

[2021-02-11 06:26] oSoMoN commented on #7
Thanks James, that's very useful.

[2021-02-11 06:31] oSoMoN commented on #7
@fitojb your post and the follow-up answers are an interesting read, this will be taken into consideration for sure.

[2021-02-12 15:38] oSoMoN commented on #23
Thanks for the link. I wonder why I didn't come across this documentation when I was researching internationalization.
Your contributions to streamline the localization process will be very welcome indeed, I'm looking forward to reviewing your PR.

For reference, the corresponding documentation is at https://flutter.dev/docs/development/accessibility-and-localization/internationalization.

[2021-02-12 16:40] oSoMoN commented on #7
I skimmed through the [weblate documentation](https://docs.weblate.org/en/latest/), and seeing that it supports both the [ARB file format](https://docs.weblate.org/en/latest/formats.html#arb-file) (used by flutter i18n) and [github integration](https://docs.weblate.org/en/latest/vcs.html#github), it's an appealing option indeed.

LXD already [uses it](https://hosted.weblate.org/projects/linux-cont

[2021-02-12 17:44] oSoMoN commented on #13
Thanks for your attention to detail @fabiancrx. This is by no means silly, this kind of details is what makes a UI/UX polished and pleasant to use.
As you expressed the intention to fix this yourself, I'm assigning the bug to you. Looking forward to reviewing your PR!

[2021-02-13 02:16] fabiancrx commented on #13
Hi made most of the changes and can check it out [here](https://github.com/fabiancrx/ubuntu-desktop-installer/tree/hyperlink-no-hover(%2313)).
It is not complete due to the translations, the current text in the app translations is `You may wish to read the <a href=\"$url\">release notes</a>.` which worked for the previous(current?) implementation which uses the HTML widget but I used just `Text` w

[2021-02-15 15:23] oSoMoN commented on #13
Using separate widgets is not going to work because of internationalization requirements: some languages may not necessarily order the translations of "you may wish to read the" and "release notes" like in English, so it needs to be one single string to enable correct translations.

I think the correct approach would be some CSS styling in the Html widget that changes the mouse cursor when hoverin

[2021-02-22 18:27] stgraber commented on #7
Right, on the LXD front the focus at the time was to get a platform where you can login through Github which can automatically import from a git repository and get us the updated `.po` files that we can merge back into the main repository.

Doing this with Launchpad would have required a mirror of the repository and logic to pull the translated files back into the main repo, possibly more annoying

[2021-02-22 18:47] oSoMoN commented on #7
Thanks very much for your feedback @stgraber!

[2021-02-23 13:29] seb128 commented on #7
I'm not familiar with how weblate is set up but one strong advantage from using launchpad is that the translations are in the hands of contributors who are trusted in the Ubuntu context.

Launchpad also displays similar strings already translated on the platform and their translations which is useful to ensure consistency in Ubuntu translations. (weblate seems to have a similar feature but it's no

[2021-02-23 13:32] seb128 commented on #7
The launchpad translations system being unmaintained and comparing negatively to other solutions available nowadays has been discussed on https://discourse.ubuntu.com/t/reconcidering-workflows for reference, there has been no really conclusion though

[2021-02-26 23:54] fabiancrx commented on #13
I have created a PR [here](https://github.com/Sub6Resources/flutter_html/issues/563) you can read further details.
Other packages I have found also face the limitations commented in the issue above like [flutter_html,simple_html_css].
So I have another question how much of the HMTL spec is needed,?
For now it just seems to be used to parse `<a>` tags  and maybe if only this is needed a smaller/sim

[2021-03-03 09:21] fitojb commented on #7
@seb128 This benefit of course can be maintained if Ubuntu sets up its own instance of Weblate (like Fedora did), where its existing translators can register.

[2021-03-03 09:22] fitojb commented on #7
Example of Flutter project using Weblate translations: https://github.com/git-touch/git-touch

[2021-03-07 23:16] Umeaboy opened #25 "flutter run fails with "Target file "lib/main.dart" not found.""
I followed the guide step by step and this happens.
Are there any instructions missing?

[2021-03-08 02:52] GiovanniSM20 commented on #25
Can you try to run with ```-verbose``` parameter and put output here ?

[2021-03-08 10:40] seb128 opened #26 "Screen 1 - Choose Language"
The design for screen n°1, Choose Language

![language](https://user-images.githubusercontent.com/10974330/110310609-07db4580-8003-11eb-83c6-a9c1febf557f.png)

Design details https://people.canonical.com/~platform/desktop/installer/1.%20Choose%20Language/

[2021-03-08 11:03] seb128 opened #27 "Screen 2 - installation type"
The design for screen n°2, installation type

![try-or-install](https://user-images.githubusercontent.com/10974330/110313110-47eff780-8006-11eb-93fd-3d1379939d36.png)

Design details https://people.canonical.com/~platform/desktop/installer/2.%20Installation%20Type/

[2021-03-08 11:05] seb128 opened #28 "Screen 3- Turn Off RST"
The design for screen n°3, Turn Off RST

![turn-off-rst](https://user-images.githubusercontent.com/10974330/110313292-84235800-8006-11eb-8d22-109f3787824d.png)

Design details https://people.canonical.com/~platform/desktop/installer/3.%20Turn%20Off%20RST/

[2021-03-08 11:06] seb128 opened #29 "Screen 4 - Keyboard"
The design for screen n°4, Keyboard

![keyboard](https://user-images.githubusercontent.com/10974330/110313400-a7e69e00-8006-11eb-9124-53181ce616b8.png)

Design details https://people.canonical.com/~platform/desktop/installer/4.%20Keyboard/

[2021-03-08 11:07] seb128 opened #30 "Screen 5 - Connect to Internet"
The design for screen n°5, Connect to Internet

![internet](https://people.canonical.com/~platform/desktop/installer/5.%20Connect%20to%20Internet/preview/ubuntu-flutter-installer---material-icons-connect-to-internet---drivers-installed---wi-fi-selected---multi-adapter---expanded.png)

Design details https://people.canonical.com/~platform/desktop/installer/5.%20Connect%20to%20Internet/

[2021-03-08 11:09] seb128 opened #31 "Screen 6 - Updates and other software"
The design for screen n°6, Updates and other software

![update](https://user-images.githubusercontent.com/10974330/110313678-10ce1600-8007-11eb-9b09-18f0e19bb360.png)

Design details https://people.canonical.com/~platform/desktop/installer/6.%20Updates%20and%20Other%20Software/

[2021-03-08 11:10] seb128 opened #32 "Screen 7 - Turn Off Secure Boot"
The design for screen n°7, Turn Off Secure Boot

![secure](https://user-images.githubusercontent.com/10974330/110313806-407d1e00-8007-11eb-8473-956d6c02b3a1.png)

Design details https://people.canonical.com/~platform/desktop/installer/7.%20Turn%20Off%20Secure%20Boot/

[2021-03-08 11:11] seb128 opened #33 "Screen 8 - Installation Type"
The design for screen n°8, Installation Type

![installation-type](https://user-images.githubusercontent.com/10974330/110313929-71f5e980-8007-11eb-97b0-15b4e4e8aafb.png)

Design details https://people.canonical.com/~platform/desktop/installer/8.%20Installation%20Type/

[2021-03-08 11:13] seb128 opened #34 "Screen 9 - Choose a Security Key"
The design for screen n°9, Choose a Security Key

![key](https://user-images.githubusercontent.com/10974330/110314059-a7023c00-8007-11eb-8615-a8bd332af302.png)

Design details https://people.canonical.com/~platform/desktop/installer/9.%20Choose%20a%20Security%20Key/

[2021-03-08 11:14] seb128 opened #35 "Screen 10 - Turn Off BitLocker"
The design for screen n°10, Turn Off BitLocker

![bitlocker](https://user-images.githubusercontent.com/10974330/110314169-d022cc80-8007-11eb-8ee8-1dd03a8f29d5.png)

Design details https://people.canonical.com/~platform/desktop/installer/10.%20Turn%20Off%20BitLocker/

[2021-03-08 11:15] seb128 opened #36 "Screen 11 - Allocate Disk Space"
The design for screen n°11, Allocate Disk Space

![space](https://user-images.githubusercontent.com/10974330/110314286-f183b880-8007-11eb-8082-529bcaac31b4.png)

Design details https://people.canonical.com/~platform/desktop/installer/11.%20Allocate%20Disk%20Space/

[2021-03-08 11:16] seb128 opened #37 "Screen 12 - Write Changes to Disk"
The design for screen n°12, Write Changes to Disk

![changes](https://user-images.githubusercontent.com/10974330/110314436-1e37d000-8008-11eb-8031-6a8677fc2cf1.png)

Design details https://people.canonical.com/~platform/desktop/installer/12.%20Write%20Changes%20to%20Disk/

[2021-03-08 11:17] seb128 opened #38 "Screen 13 - Where Are You"
The design for screen n°13, Where Are You

![where](https://user-images.githubusercontent.com/10974330/110314520-3d366200-8008-11eb-8d78-63a65d1bceba.png)

Design details https://people.canonical.com/~platform/desktop/installer/13.%20Where%20Are%20You/

[2021-03-08 11:19] seb128 opened #39 "Screen 14 - Who Are You"
The design for screen n°14, Who Are You

![who](https://user-images.githubusercontent.com/10974330/110314681-77076880-8008-11eb-9e31-8d489e5c4c3e.png)

Design details https://people.canonical.com/~platform/desktop/installer/14.%20Who%20Are%20You/

[2021-03-08 11:19] seb128 opened #40 "Screen 14 - Who Are You"
The design for screen n°14, Who Are You

![who](https://user-images.githubusercontent.com/10974330/110314681-77076880-8008-11eb-9e31-8d489e5c4c3e.png)

Design details https://people.canonical.com/~platform/desktop/installer/14.%20Who%20Are%20You/

[2021-03-08 11:19] #39 closed

[2021-03-08 11:20] seb128 opened #41 "Screen 15 - Configure Active Directory"
The design for screen n°15, Configure Active Directory

![activedir](https://user-images.githubusercontent.com/10974330/110314853-b3d35f80-8008-11eb-93aa-f735f99b75e4.png)

Design details https://people.canonical.com/~platform/desktop/installer/15.%20Configure%20Active%20Directory/

[2021-03-08 11:21] seb128 opened #42 "Screen 16 - Installation Slides"
The design for screen n°16, Installation Slides

![slides](https://user-images.githubusercontent.com/10974330/110314968-dbc2c300-8008-11eb-9e1c-935e3267b102.png)

Design details https://people.canonical.com/~platform/desktop/installer/16.%20Installation%20Slides/

[2021-03-08 11:22] seb128 opened #43 "Screen 17 - Installation Complete"
The design for screen n°17, Installation Complete

![installed](https://user-images.githubusercontent.com/10974330/110315051-fac15500-8008-11eb-92d9-77fc25af2dab.png)

Design details https://people.canonical.com/~platform/desktop/installer/17.%20Installation%20Complete/

[2021-03-08 12:51] MarcusTomlinson commented on #25
@Umeaboy are you running `flutter run` from within the `ubuntu-desktop-installer/ubuntu_desktop_installer` directory?

[2021-03-08 19:03] Umeaboy commented on #25
Apparently I was running the stable branch even though I followed every step line by line. Closing as SOLVED.

[2021-03-08 19:03] #25 closed

[2021-03-09 11:43] nafallo opened #45 "Disk Encryption password strength"
Coming from Ubiquity, we couldn't set the strength level required for the disk encryption (LUKS). I need to be able to bring this from a documentation policy to a hard policy set in the preseed if possible.

[2021-03-09 15:03] Redsandro opened #46 "Support fscrypt"
Full disk encryption with LUKS (2004) became the privacy solution after eCryptfs (2006) was removed in Ubuntu 18.04 for reasons. `fscrypt` (2017) was recommended in the Ubuntu 18.04 release notes, although it was not ready yet at the time. From kernel v5.4 onwards, it is ready.

Not everyone agrees that encrypting the entire disk is the best alternative. Some have families and like to share a lapt

[2021-03-09 15:39] MarcusTomlinson commented on #28
Well spotted. That’s an error actually. “in Windows” should be removed. There also should only be one “turn off” in that sentence.

[2021-03-10 00:51] felagund commented on #36
Would be great if there was an option to use systemd-boot as the Boot loader. It saves me 4 seconds every boot. GRUB2 is slow.

[2021-03-10 01:16] galgalesh commented on #36
I think the vertical layout might be confusing because Windows and other distros show these horizontally. Having the installer also show these horizontally has the advantage that users will be better able to link what they see in Windows to what they see in this installer.

I think it might also be useful to show more explicitly that these partitions are part of a single disk. For example, by draw

[2021-03-10 08:04] madsrh commented on #36
All mockups are a bit unbalanced / asymmetric IMHO, but this one is the most confusing one to look at 😄
Why isn't the length of the drive selection dropdown centered in the window? It's seems strange that it's not half the length and not full 🤷‍♂️

Perhaps [Elementary](https://www.fosslinux.com/3432/elementary-os-to-get-cool-new-installer-possible-debut-in-juno.htm) could be an inspiration?

![ima

[2021-03-10 08:58] pieqq commented on #32
Hello! A few comments.

# Misleading wording

I don't think the wording "turn off secure boot" is correct.

From what I understand, this screen is meant to add a Machine Owner Key (MOK) into the device's UEFI (the whole process is described on the [Ubuntu Wiki](https://wiki.ubuntu.com/UEFI/SecureBoot)). Selecting the first option would not "turn off" secure boot, but instead generate a key that wo

[2021-03-10 09:07] pieqq commented on #31
A suggestion here:

the "Install third-party software ..." option is coming from the current installer, but I think it's always been a bit confusing, especially since Secure Boot started being a thing: why would I need to input a security password for Secure Boot to install "additional media formats"?! (that's honestly the feeling I've had ever since this option has appeared in the installer)

I t

[2021-03-10 10:01] long-chung commented on #36
There is a before and after state on this screen.
@galgalesh the 2 states are in different columns hence why there is no border around the whole of the sum.
@madsrh same point as above

[2021-03-10 10:33] madsrh commented on #26
I wonder why the list is centered in the mockup above 🤔 Looking at the other mockups, I see that all of them are left-justified.

...OR perhaps the other screens should be centered too 😉

[Connect to the internet](https://github.com/canonical/ubuntu-desktop-installer/issues/30)
![Wi-Fi-mockup](https://user-images.githubusercontent.com/3986894/110615052-4a338c80-8193-11eb-8c14-03eb7c9d8a17.jpg)

[U

[2021-03-10 11:23] BillDietrich commented on #33
Could we have a preview of "Advance Features", please ?

I would hope that under there would be simple radio-buttons to choose among:

- a single / partition, or separate / and /home partitions, or systemd-homed

- no swap, swap partition, swap file, zram, zswap

- filesystem type: zfs, Btrfs, ext4, etc

And maybe simple check-boxes to turn on/off:

- LUKS / LVM for whole Linux system

- eCryptfs

[2021-03-10 11:30] BillDietrich commented on #38
I am an English-speaking US citizen living in Spain.  So "where I am" is not the same as "how I want to see information".  Maybe the installer could handle this more clearly.  "Where I am" could set initial values, but then have a way to override language, date/time format, currency.

[2021-03-10 11:36] BillDietrich opened #47 "Accessibility"
Will the new installer be usable by sight-impaired users ?  Just raising the issue, since articles online say that Flutter doesn't produce HTML that adheres to accessibility standards.  I'm not impaired myself, and I don't know what kind of "reader" a person could use to handle doing an install.  How do sight-impaired people do an Ubuntu install today ?  Use a char-mode installer ?

[2021-03-10 11:48] BillDietrich opened #48 "Possible more steps in install"
I don't know if this should be in installer or welcome or after first boot of new system, but:

- Ask if other users will use the machine, and either create those users or give pointer to how to create them.

- Ask about things that will used with machine: smartphone, printer, Bluetooth devices, etc.

- Ask what DE user wants, if multiple are available.

- Let user choose apps to install.  Show th

[2021-03-10 12:13] long-chung commented on #36
@galgalesh You've raised some excellent points. Thank you for sharing

[2021-03-10 12:15] galgalesh commented on #36
A final note; I just noticed that in the "before" and "after" graphics, the size of the Windows 10 partition does not change even though the size of the Windows rectangle changes. I was convinced this setup was going to shrink the Windows partition until I read the numbers.

[2021-03-10 12:17] long-chung commented on #26
All screens should be left aligned (Except for Choose language) as per the designs.
This is because it requires more effort to read central aligned text.

[2021-03-10 14:27] nafallo commented on #40
I would like the bottom part, choosing Log in automatically to be able to be removed if you preseed the answer.
Internally at work we do not allow automatic login.

[2021-03-10 14:27] nafallo commented on #41
Any chance to support lightweight SSO, like utilising libpam-krb5?

[2021-03-10 18:48] GiovanniSM20 commented on #47
I don't know what you think we could use to solve this problem but we could use something like gnome's [orca.](https://help.gnome.org/users/orca/stable/introduction.html.en) Actually we have some distros using this for solve this problem.

[2021-03-10 20:06] robert-ancell commented on #47
The installer won't be using the web renderer on Flutter - instead it draws much the same way as any other toolkit (e.g. GTK, Qt). It exposes the widgets that it uses over AT-SPI, so should have a similar level of accessibility as any other desktop app.

[2021-03-10 20:09] BillDietrich commented on #47
Thanks.  How does a sight-impaired person do this in an installer ?  They're booted into a single application.  They have no opportunity to run a screen-reader app.

[2021-03-10 20:15] robert-ancell commented on #47
I believe the a11y menu is available during the installer.

[2021-03-14 13:33] fcole90 commented on #40
This screen looks unbalanced towards the left. I think having the content box being centred would make it nicer.

[2021-03-14 13:36] fcole90 commented on #40
Checking other designs, that's an issue with some others too, but here I can notice it more. Having the contents box centred would also help the window scale better if a user resizes it to be larger. So I would anchor it horizontally on the centre and vertically on the top.

[2021-03-14 18:13] chrismin13 commented on #40
While I think the design looks solid, I do have two things that I think could be improved:

1. While I also believe that the UI seems oddly placed and gravitated towards the left, I still think that it's the right move, especially since every other screen does the same. Instead, the left part of the screen could be filled up with a User Image Chooser. This is quite common place on other OS, such a

[2021-03-16 10:28] fitojb commented on #26
Yep, the margins should make everything look centered but the text should be flush left or right depending on the language.

[2021-03-16 10:30] fitojb commented on #27
I’m afraid those icons look a bit too wireframe-y. I would expect filled shapes with the Suru color palette and folds.

[2021-03-16 10:32] fitojb commented on #27
Also, the Ubuntu logo is used excessively. I remember @matthewpaulthomas advising against that many years ago…

[2021-03-16 10:35] fitojb commented on #30
The density of the network list could be improved (well, the Yaru theme should be a lot denser than it is). I don’t think it’s terribly useful to display only one and a half items at any time inside that scrollable box.

[2021-03-16 10:38] fitojb commented on #37
As a translator, the comma splice in the first sentence annoys me.

[2021-03-16 10:42] fitojb commented on #27
I’m afraid those icons look a bit too wireframe-y. I would expect filled shapes with the Suru color palette and folds.
Also, the Ubuntu logo is used excessively. I remember @matthewpaulthomas advising against that many years ago…

[2021-03-18 08:25] Mannshoch commented on #26
Why not add on the left side a chooser for the Keyboard?
![grafik](https://user-images.githubusercontent.com/7795891/111594077-e6304a00-87ca-11eb-921a-ea3a22a5e34d.png)

May a better solution.
![grafik](https://user-images.githubusercontent.com/7795891/111594721-b6ce0d00-87cb-11eb-89a4-3bb57142b980.png)

[2021-03-18 08:39] Mannshoch commented on #28
Shouldn't that screen appear in the head of #27 and gray out installation possibilities?
![grafik](https://user-images.githubusercontent.com/7795891/111596581-9acb6b00-87cd-11eb-83a1-70468a62e5a5.png)

[2021-03-18 08:46] Mannshoch commented on #30
My W-Lan Passkey is way too long to enter it with Keyboard. I like the QR-code solution like I use also on my Mobil phone.
![grafik](https://user-images.githubusercontent.com/7795891/111597517-86d43900-87ce-11eb-9e21-51640b93c673.png)

[2021-03-18 09:57] Mannshoch commented on #36
As an Idea,
why not preset wished mount points and **after that** allow to design the Disks. It may allow the installation manager to help not to accidentally remove or formatting a partition you wish to use.

**See Mockup:**
![grafik](https://user-images.githubusercontent.com/7795891/111607362-72953980-87d8-11eb-94b0-fcb0da3f4131.png)

[2021-03-18 10:04] Mannshoch commented on #40
I would propose to allow set-up e.g. a Fido stick and/or a fingerprint scanner, may a face recognition or others here.

[2021-03-18 10:07] Mannshoch commented on #41
May allow use e.g. a sftp server. So If someone uses username and password which works on a certain server (may a family NAS) a user is allowed to login.

[2021-03-18 17:31] Mannshoch commented on #48
Good point.

I created a Mockup for that.

![Bildschirmfoto von 2021-03-18 18-29-02](https://user-images.githubusercontent.com/7795891/111670393-14884680-8818-11eb-87d8-322f89e5d95f.png)

[2021-03-18 22:22] jpnurmi opened #52 "Material ink effects are not clipped in list views"
Probably a known issue, but the ink effect is rendered outside the border when hovering/pressing a  list tile that has been scrolled partly out:

![image](https://user-images.githubusercontent.com/140617/111704448-6c867380-883f-11eb-95fe-c282d30e4dfb.png)

[2021-03-18 22:23] jpnurmi commented on #52
This can be fixed by wrapping the list view with `ClipRRect` to retain rounded corners, and providing a `Material` surface or ink effects inside the clip area:

[code]

![image](https://user-images.githubusercontent.com/140617/111705285-be7bc900-8840-11eb-85ad-93298f5c42dd.png)

[2021-03-18 22:25] jpnurmi commented on #52
I can push a fix proposal after #50 has been merged, to avoid conflicts.

[2021-03-19 09:49] oSoMoN commented on #52
Please do, this will be a very welcome visual improvement.

[2021-03-19 14:33] #23 closed

[2021-03-21 09:39] #52 closed

[2021-03-22 09:33] fcore117 commented on #31
Really hope that Minimal this time is **really** minimal without extraweight packages and so on and installer do not act counter-productive by installing all first and then uninstalling like now, but instead it should install minimally from beginning. Whole world needs a real true minimal barebone desktop that has none of extraweight packages from braille to unneeded fonts and local help files. Th

[2021-03-22 09:56] nafallo commented on #40
Two options I'll throw in here. Either hide the autologin and keep it preseed only OR keep autologin but also turn on passwordless sudo, disable lock on "screensaver" etc... Basically disable all the common places passwords are used. Is it possible to keep the keyring unencrypted? ;-)

[2021-03-22 10:55] fcole90 commented on #40
Why would you want passwordless sudo? Autologin should just bring you to your initial desktop, but that doesn't mean that one wants no password at all

[2021-03-23 06:36] elbeicktalat commented on #30
@Mannshoch
Hi bro,
it will be so helpful, but how you can scan the QR code?

[2021-03-23 07:49] Mannshoch commented on #30
On my laptop I have a Webcam included. On my desktop I attached an USB Webcam. (I use it in Homeoffice)

May you wish a creativ solution: https://randomblog.hu/using-your-android-phone-as-a-webcam-for-ubuntu-20-04-with-droidcam/
And if you wish a strange solution: Use KDEconnect and aus a Mobilephone cam. (but you need a kdeconnect on phone and also pair with it)

[2021-03-23 11:37] BillDietrich commented on #27
Is some "preseed" capability going to be supported ?  I would like it to be supported.  And there should be an option to read the preseed config file from anywhere, including another USB drive (not same as installer USB).  I don't know if it should affect the UI of this page, or some other.  Thanks.

[2021-03-25 07:42] jpnurmi commented on #13
flutter/flutter#77754 (Add mouseCursor, onEnter, and onExit to TextSpan) has been merged.

[2021-03-26 10:25] nafallo commented on #40
@fcole90 True! I suppose I meant that leaving an empty password would need to take care of those additional actions I mentioned rather than autologin (although I suppose the lockscreen may apply there as well?).

[2021-03-26 12:51] Mannshoch commented on #40
I only see one case where you do not have to create a new user even root. It's the case where you authenticate Users by an external service. Like LDAP or other services.

[2021-03-26 12:53] Mannshoch commented on #27
I hope so -> #16

[2021-03-28 18:55] ArishSultan commented on #8
The UI designs provided in the latest issues (all issues marked as specification).

Are those final or still being worked on? if yes than, when will the development start?

[2021-03-28 19:04] MarcusTomlinson commented on #8
@ArishSultan those designs may be tweaked a bit here and there, but for the most part they are final yes. Development has started.

[2021-03-28 19:08] ArishSultan commented on #8
Is there anything that i can work on?

[2021-03-29 07:47] long-chung commented on #33
@BillDietrich Click the "Design details link" below the thumbnail. There are other states as well as specifications in that link

[2021-03-29 15:34] oSoMoN commented on #8
I added contributor guidelines in https://github.com/canonical/ubuntu-desktop-installer/pull/60.

[2021-03-29 15:35] oSoMoN commented on #8
To answer your question Arish, yes, there's a lot that you can work on, contributions very welcome!
UI and UX specifications are published as [Github issues](https://github.com/canonical/ubuntu-desktop-installer/issues?q=is%3Aissue+label%3Aspecification+sort%3Acreated-asc). Any specification issue without an assignee is up for grabs, if you start work on one of them please make sure to comment on

[2021-03-29 15:52] oSoMoN commented on #8
[Contributor guidelines](https://github.com/canonical/ubuntu-desktop-installer/blob/main/CONTRIBUTING.md) are now merged.

[2021-03-29 15:52] #8 closed

[2021-03-29 17:42] ArishSultan commented on #33
@oSoMoN I would like to work on this screen.

[2021-03-29 18:26] oSoMoN commented on #33
All yours ;)
Looking forward to reviewing your code.

[2021-04-13 15:24] jpnurmi commented on #30
Hi, feel free to assign this to me if nobody is working on it yet.

[2021-04-13 18:30] jpnurmi commented on #30
Since the available vertical space for the Wi-Fi network list is limited, would it be a completely crazy idea to make the whole page scrollable, and expand the current connection type selection like this?

![connect-to-internet](https://user-images.githubusercontent.com/140617/114602105-85474500-9c96-11eb-9e44-a9e435a9b581.gif)

[2021-04-13 18:36] Feichtmeier commented on #30
I have the feeling that the whole UI is somehow crowded on the left side of the screen.
I thought about maybe using rather a Tabbed UI here instead of the radio button selection expanding those panels
@jpnurmi

[2021-04-13 18:42] MarcusTomlinson commented on #30
@long-chung any thoughts?

[2021-04-13 19:03] Feichtmeier commented on #30
Fast flutter dummy app to make a point:

https://user-images.githubusercontent.com/15329494/114606530-ab231880-9c9b-11eb-82f1-1df87c8da683.mp4

@MarcusTomlinson @jpnurmi

[2021-04-14 07:26] Mannshoch commented on #30
I would propose to add a hint about the speed of a Network (2.4G or 5G)

(If possible I would prefer If the system could make a little speed test and present this result.)

[2021-04-15 12:17] ArishSultan commented on #33
I have completed the UI. but the `yaru.dart` theme is not fully implemented. For Example, the OutlinedButton theme is not the same as in the provided design.

Last week I created a PR at `yaru.dart` to fix the TextStyles. what should I do, should I wait for the next update of `yaru.dart` or just continue building.

If we can wait for `yaru.dart` to complete then I might work on other screens that

[2021-04-15 13:09] BillDietrich commented on #33
Under "Advanced Features", I see none of the options I requested, and no Issue for that screen.

[2021-04-15 13:16] ArishSultan commented on #30
Shouldn't the 'Connect to hidden wifi network' (3rd option) be inside the 'Connect to wifi' option (2nd option)? since both the options have the same context.

And as the user enters the SSID then what changes will happen in UI (how will the user enter the password and which adapter should be used to connect to the hidden wifi), an optimal solution is to use a dialog for taking the password input,

[2021-04-15 13:38] long-chung commented on #30
I like this solution. It only shows the extra form elements once you've checked a radio.
The only thing I would say is to keep the height of the network dropdown a consistent height. Though it would be nice to scan all networks available to you, the chances are that the one you actually want to connect to will be nearest to the top of the list

[2021-04-15 18:41] jpnurmi commented on #30
Hi all. I was trying to avoid deviating too much from the proposed design, but if we're still exploring design ideas, here's one. :sunglasses:

![connect-to-internet-dialog](https://user-images.githubusercontent.com/140617/114919896-1f3ef700-9e29-11eb-9663-2fdb4be427b7.gif)

[2021-04-19 23:16] freitzzz opened #66 "Enforce coding guidelines & linter warnings"
First of all thanks for trying Flutter as the new Ubuntu Desktop Installer. Really cool to see Canonical choosing an "hype" framework for a product which most Linux users trash about being bloat.

Looking into the UI code, it seems that there are missing commas on the end of widget declaration, which is a standard on code quality, embraced by the Flutter community. Also some widget files declare c

[2021-04-20 07:01] Feichtmeier commented on #66
Would be better to make a proper issue for each individual thing you want to improve. Then also leave those emotional things between the lines out of the text, kinda unproductive and unprofessional.

[2021-04-20 08:07] oSoMoN commented on #66
Those are valid points @freitzzz, there's a lack of consistency in the code base, and linter rules can probably be improved. Pull requests are welcome (ideally with separate commits for each of these points).

[2021-04-20 09:32] oSoMoN commented on #33
@ArishSultan as this is early stages for this project, we're taking an iterative approach, and if UI elements don't look exactly like the specification, it won't be considered a blocker. So I'd suggest going ahead with a PR if the bulk of the screen is implemented.

[2021-04-20 09:35] ArishSultan commented on #33
Ok

[2021-04-20 15:43] freitzzz commented on #66
Not sure if I understood correctly what you refer as "emotion things between the lines out of the text". Care to explain?

[2021-04-20 15:44] freitzzz commented on #66
Sure, I will propose some as a bullet-point list and and then reference this issue for each PR.

[2021-04-20 15:55] Feichtmeier commented on #66
Misunderstood some of your sentences. After reading it a second time I have no idea what I meant.
:) Everything fine in the emotion department, sorry for the noise.

Anyways, from my experience on github it is sometimes a bit better to create one issue for each change request/bug/feature request so it is easier to track it down via PRs

[2021-04-21 02:11] HaroonAwan commented on #43
I would like to work on this screen.

[2021-04-25 06:34] madsrh commented on #47
@BillDietrich did Robert answer your question sufficient for this issue to be closed?

[2021-04-25 09:04] BillDietrich commented on #47
Okay, thanks.

[2021-04-25 09:04] #47 closed

[2021-04-27 14:07] seb128 commented on #30
The design has been refreshed now which address some of the issues discussed, the screenshot and resources are updated

[2021-04-27 14:10] seb128 commented on #36
The design has been updated and is back to an horizontal layout for now, the screenshot on this ticket refreshed, the previous vertical layout is still visible in the comments for reference though

[2021-04-27 14:21] Feichtmeier commented on #36
Little update from the theme, when a pending pr will be merged after review, the buttons should be very close to the ones in the mock-up (bigger)

[2021-05-05 22:04] madsrh opened #84 "Screen ? - Choose your look"
Everybody loves the "new" settings [option where the user can switch between](https://cdn.allthings.how/wp-content/uploads/2020/04/allthings.how-how-to-enable-dark-mode-in-ubuntu-20-04-image.png) the default, light or dark theme.

I think it would be great if this option was presented to the user during the install.

![installer-theme-mockup](https://user-images.githubusercontent.com/3986894/11721

[2021-05-06 05:53] oSoMoN commented on #84
@long-chung what do you think of the suggestion?

[2021-05-06 08:10] long-chung commented on #84
@oSoMoN Looks great

[2021-05-06 10:12] oSoMoN commented on #84
Where in the sequence of screens should this go?

[2021-05-06 10:47] long-chung commented on #84
I think the step before the installation slides/copying files would make the most sense, unless anybody has a different opinion?

[2021-05-21 06:47] lyrebird-sound-cloning-system commented on #84
Pop OS does a post setup after restarting the computer. This kind of personalization settings fits better in a OOBE instead of in the initial installation.

[2021-05-21 06:55] ghost opened #100 "Enhancement: ditch the shadow in the header"
![image](https://user-images.githubusercontent.com/84561213/119095080-35bc0d80-b9e8-11eb-94d3-68a8840bfe9f.png)

The transparent top panel feels "off" or something. It looks unfinished. Merging it with the titlebar would give the installer a better look.

[2021-05-21 07:18] Feichtmeier commented on #100
I strongly disagree. This big blob of black looks very strange to me.

[2021-05-21 21:05] Feichtmeier commented on #42
On this screen there is a big purple progress bar.
With flutter 2.3 it is possible to style the progress indicators independent of the accent color.
I had this in yaru.dart for some days but then decided to revert this until this feature is in the beta channel.
Just FYI

[2021-05-25 09:33] lyrebird-sound-cloning-system commented on #100
Maybe the shadow could be dropped then. The welcome screen, for example, has a bold font for the header and it looks clean:
![Screenshot_20210525_063258](https://user-images.githubusercontent.com/84561213/119474988-147a5a80-bd23-11eb-8905-e63a7c5e8ae7.png)

[2021-05-25 10:01] Feichtmeier commented on #100
It is good to have this conversation independent of the software stack/technology, but
1) the screen you've shown is gtk only and 2) the installer is in flutter, which draws intself into a gtk window, resulting in the headerbar being gtk and the window flutter.
The mixed theme is under constant discussion on the gtk side, so instead of replicating this look with force, I would suggest to keep it l

[2021-05-25 12:04] jpnurmi commented on #100
Without taking a stance on the UI design... Technically, it's possible to have a custom GtkHeaderBar for a Flutter window and communicate with Flutter over a method channel.

[2021-05-25 13:21] Feichtmeier commented on #100
Would be great, but then I would stick to light / dark theme standard. We dropped the mixed theme in the flutter theme. Mixed themes do not make sense from a technical and design perspective.
This issue is about a light theme with a dark headerbar and a dark appbar beneath. What is the benefit? It looks unbalanced and does not follow the light / dark standard

[2021-05-26 18:53] seb128 opened #102 "WSL Setup Screens"
Since subiquity is also used in the WSL setup wizard and the UI design is similar it makes sense to host is as part of the installer, as another binary maybe though?

The design for those pages is on https://people.canonical.com/~platform/desktop/installer/WSL

[2021-05-26 19:26] kenvandine commented on #102
I'd be in favor of a different binary.  Perhaps we could treat the future oem-config the same way?

[2021-05-29 07:19] lyrebird-sound-cloning-system commented on #100
It was just to demonstrate the header design ("Help improve Ubuntu").

[2021-05-29 07:31] lyrebird-sound-cloning-system commented on #34
"A recovery key is generated and will be temporarily saved on the live system. You can select an alternative location. Save this file and keep it in a safe place elesewhere before rebooting."

I think that the installer should explain to the end-user what's the purpose of the recovery key.

[2021-05-29 07:41] lyrebird-sound-cloning-system opened #103 "An option to make an encrypted installation using only the unnalocated space"
This is useful for:
- Dual booting with other OSes such as Windows;
- Preserve backup/other partitions.

Currently is currently to do this, but you need to do manual partitioning: https://askubuntu.com/a/1247047 Also is useful for:

With an option in the [Installation Type](https://github.com/canonical/ubuntu-desktop-installer/issues/33) screen, an inexperienced user could achieve this without hav

[2021-05-29 07:43] lyrebird-sound-cloning-system commented on #48
An option to customize the software/choose another DE would be very great indeed.

[2021-05-29 11:29] Feichtmeier commented on #100
The shadow comes from the AppBar (https://api.flutter.dev/flutter/material/AppBar-class.html)
and is bound to the Material UI that is used in the yaru theme.
We decided to follow Google on how the UI looks and thus yaru.dart is a Material theme, only changing the color of the elements , not the form factor or stuff like shadows to ensure plattform independant apps using yaru.dart. So people using

[2021-06-04 01:56] lyrebird-sound-cloning-system opened #108 "Configuring /etc/crypttab automatically when the user manually set up LVM"
Currently, /etc/crypyttab is not automatically configured when Ubuntu is installed (through manual partitioning) on a LVM scheme that was previously set up.

[2021-06-04 01:57] lyrebird-sound-cloning-system opened #109 "Support GRUB_ENABLE_CRYPTODISK=y when encrypting /boot or when installing Ubuntu on encrypted / only (without a /boot partition)"
Currently, to install Ubuntu with an encrypted /boot is necessary to run this before the bootloader is installed:

while [ ! -d /target/etc/default/grub.d ]; do sleep 1; done; echo "GRUB_ENABLE_CRYPTODISK=y" > /target/etc/default/grub

Otherwise, the installation will crash.

[2021-06-07 20:38] mwhudson commented on #108
The new installer will install via curtin, which I think handles this case correctly.

[2021-06-08 09:31] popey opened #110 "Slightly clumsy English in screen 6"
`"installThirdPartyTitle": "Install third-party software for graphics and Wi-Fi hardware and additional media formats",`

Generally we try not to `this and that and the other` in English, but prefer commas. So, this would be preferable.

`"installThirdPartyTitle": "Install third-party software for graphics, Wi-Fi hardware, and additional media formats",`

[2021-06-08 12:17] zilexa opened #111 "Don't create swapfile if btrfs is used and/or configure swap following btrfs rules"
With the current (old) installer, Ubuntu creates `/swapfile` even when during installation the drive is formatted as BTRFS.
But this will show an error in syslog and the swapfile will not be used since btrfs does not allow a swapfile.
This means swap is disabled when Ubuntu is installed with btrfs filesystem.

As far as I know, all best practices around swapfile and btrfs point to:
1. create a ded

[2021-06-08 13:42] MarcusTomlinson commented on #110
Hmm, I think `graphics and Wi-Fi hardware` expands to `graphics hardware and Wi-Fi hardware`, with `additional media formats` being separate.

Perhaps something like:

`"installThirdPartyTitle": "Install third-party software for graphics and Wi-Fi hardware, as well as additional media formats",`

[2021-06-08 13:45] oSoMoN commented on #110
Thanks @popey for your attention to detail! I was going to go ahead and apply your suggestion, but @MarcusTomlinson has a point. To my non-native ear, all three suggestions look equally valid, so that's a tie. Thoughts?

[2021-06-08 13:56] popey commented on #110
Good point. I think either are fine.

[2021-06-09 10:48] #110 closed

[2021-06-13 18:07] corradoventu commented on #36
many users are used to gparted so it is better to have the same layout

[2021-06-20 07:10] corradoventu commented on #29
trying the installer from http://cdimage.ubuntu.com/daily-canary/pending/ dated 2021-06-15 10:10 the screen for Keyboard layout is empty so i can't select a keyboard and continue with installation
![installer-keyboard](https://user-images.githubusercontent.com/26655337/122665411-56be7c80-d1a7-11eb-9441-a1a54e60c9a1.png)

[2021-06-27 06:53] elbeicktalat commented on #84
@long-chung I think this page should be appear after choosing the installations type to show the theme on the installer.

[2021-06-27 08:10] elbeicktalat commented on #29
Also me I have the same problem, it's not only not appear but also when try to write something it's go in the wrong way.

Write ubuntu but the result is reversed.

![Screenshot from 2021-06-27 10-03-57](https://user-images.githubusercontent.com/59793332/123537337-29397c00-d72f-11eb-8342-fe2b2fa6f3b0.png)

[2021-06-27 15:31] corradoventu commented on #36
Try install from https://cdimage.ubuntu.com/daily-canary/pending/ dated 2021-06-25 09:26 the window 'Allocate disk space' is resizable but is empty. Can not continue.
![Screenshot from 2021-06-27 15-07-30](https://user-images.githubusercontent.com/26655337/123550353-66246380-d76d-11eb-9ed9-08e7f81e4ec2.png)

[2021-06-29 02:20] charafau commented on #42
Is it possible to get other slide images for reference ?

[2021-06-29 10:19] oSoMoN commented on #42
The source for all the slides is [on Launchpad](https://bazaar.launchpad.net/~ubiquity-slideshow/ubiquity-slideshow-ubuntu/html/files/head:/slideshows/ubuntu/slides).

[2021-06-29 14:37] oSoMoN commented on #43
@HaroonAwan you stated your interest in implementing this screen on April 21st, but haven't followed up since then. Is this something you're still interested in? I'm asking because @charafau has proposed an initial implementation of it, so in order not to duplicate work, you might want to unassign yourself and pick something else?

[2021-06-29 14:49] oSoMoN commented on #43
I'd be interested in getting more details from design on the format of the image asset: will it be provided already cropped, or is the expectation that the asset is square, and the circular cropping happens dynamically when rendering it in the application?

[2021-06-29 14:55] long-chung commented on #43
@oSoMoN It would be great if the cropping can happen dynamically.
That way we can swap out the asset any time without waiting for a designer to supply a new asset that has been cropped and scaled each time.

[2021-06-29 15:02] oSoMoN commented on #43
That was my reasoning, thanks for confirming @long-chung.

[2021-07-01 18:03] Mannshoch commented on #36
Any feedback on this Idea?

[2021-07-01 19:38] madsrh commented on #84
Just a quick reminder that this screen needs to be updated with the [recent changes to the Yaru theme](https://github.com/ubuntu/yaru/pull/2922) (only light and dark theme options now).

As you know, there's more changes coming and new preview thumbs from Wayne is needed (same as found in [GCC](https://gitlab.gnome.org/Community/Ubuntu/gnome-control-center/uploads/a346954476a1f0f74f710fa687ce6176/

[2021-07-02 07:57] long-chung commented on #36
@Mannshoch We have decided to revert back to the horizontal layout for the time being.
Your really like this idea and will certainly consider this approach in the future.

Thanks for your feedback and participation as always.

[2021-07-02 13:42] Feichtmeier commented on #84
@oSoMoN I would like to work on this :)

[2021-07-02 13:57] oSoMoN commented on #84
All yours @Feichtmeier !

[2021-07-02 18:34] elbeicktalat commented on #84
Hi there,
I'm not sure about the radio box, I believe it will be more beautiful if you made it with cards like the installation type page #27, also we have to discuss about the title is it really necessary?
What do you think ?

[2021-07-02 19:59] Feichtmeier opened #125 "Is the linting too aggressive?"
It feels like those 200 warnings will eventually never be fixed - so is it really needed to include this warning mechanism?

![grafik](https://user-images.githubusercontent.com/15329494/124322986-c1e15900-db80-11eb-8377-b3334aaa6547.png)

CC @oSoMoN @MarcusTomlinson

[2021-07-02 22:50] madsrh commented on #84
Good idea @elbeicktalat. I think it would look better without the radio buttons 😅
Is this possible @Feichtmeier ?

[2021-07-03 03:05] Muqtxdir commented on #84
Hi,

Is this possible @Feichtmeier ?

For [GCC MR](https://code.launchpad.net/~muqtxdir-m/ubuntu/+source/gnome-control-center/+git/gnome-control-center/+ref/applied/ubuntu/impish) on launchpad, I used the theme-previews at **270x200** px, Attached below is a zip file containig those two SVGs
📎: [theme-previews.zip](https://github.com/canonical/ubuntu-desktop-installer/files/6757757/theme-previews.

[2021-07-03 07:25] Feichtmeier commented on #84
I currently they are use the big images and are scaled down to 1/5 of the screen

[2021-07-03 09:07] Feichtmeier commented on #84
@madsrh @elbeicktalat and whoelse has an opinion on that, I used @jpnurmi 's OptionCard - is this better?

![Peek 2021-07-03 11-06](https://user-images.githubusercontent.com/15329494/124349345-dbb98500-dbee-11eb-94e3-8649d7fd37b1.gif)

[2021-07-03 09:11] madsrh commented on #84
Much better @Feichtmeier
I love the Simon and Garfunkel reference (the word _darkness_ shouldn't be capitalized)

[2021-07-03 09:13] Feichtmeier commented on #84
![grafik](https://user-images.githubusercontent.com/15329494/124349517-b11bfc00-dbef-11eb-9b00-4cb90a30b326.png)
@madsrh ?

[2021-07-03 09:22] madsrh commented on #84
Bigger isn't always better BUT is there any chance that the thumbs could be bigger and the also bigger optioncards? Like on page #27?

https://user-images.githubusercontent.com/10974330/110313110-47eff780-8006-11eb-93fd-3d1379939d36.png

[2021-07-03 09:36] Feichtmeier commented on #84
@madsrh I don't know. I have a 2,5k screen and the window is already scaled a little bit bigger than on a full hd screen. When the window changes this, the stuff looks like this:

![Peek 2021-07-03 11-35](https://user-images.githubusercontent.com/15329494/124350094-e5dd8280-dbf2-11eb-9b51-b1f91edc98e4.gif)

[2021-07-03 09:52] madsrh commented on #38
This maps has been used since 8.04 and could IMHO really used a visual update to a more modern look. Just changing the colors would be great. Any change that design would have time to look at this?

I would do it myself, but from the ubiquity package I can see that the map is a PNG, so not easily editable.
https://git.launchpad.net/ubuntu/+source/ubiquity/tree/pixmaps/timezone

[2021-07-03 11:35] elbeicktalat commented on #84
@Feichtmeier For me is much better than before, also I think if you increase the example size I mean the image, will be more better.

[2021-07-03 11:42] elbeicktalat commented on #84
I think the space between the cards is so small, I don't know which is better space around or evenly.
For sure not space between specialy when there is only 2 cards.

[2021-07-03 12:09] jpnurmi commented on #84
:+1: How about the same as on the "try or install page"?

No no, the credits for that one belong to Olivier! :)

[2021-07-03 12:18] Feichtmeier commented on #84
![Peek 2021-07-03 14-17](https://user-images.githubusercontent.com/15329494/124353889-83dc4780-dc09-11eb-90fb-147ec94a64d1.gif)

?

[2021-07-03 14:26] corradoventu opened #127 "The window 'allocate disk space' is empty"
Trying install from ISO in https://cdimage.ubuntu.com/daily-canary/current/ dated 2021-07-03 10:30 the window -select keyboard- is empty and if i click on continue also the window -allocate disk space- is empty. can not continue with install.
![Screenshot from 2021-07-03 14-00-01](https://user-images.githubusercontent.com/26655337/124357293-4e842980-dc0a-11eb-8c5d-7de0ba16a869.png)

[2021-07-03 14:30] Feichtmeier commented on #127
Yes because it has not been implemented it yet: https://github.com/canonical/ubuntu-desktop-installer/issues/36

I think you can close this issue  @corradoventu

[2021-07-03 15:18] #127 closed

[2021-07-03 17:46] Feichtmeier opened #128 "Proposal: reduce AppBar elevation for all WizardPages to 1"
Idea by @muqtxdir

The AppBar looks kind of too prominent for a desktop app and also different to the design slides.
Muq's idea was to reduce the shadow for the AppBar in all WizardPages, which is doable with setting `elevation: 1`

![1_light](https://user-images.githubusercontent.com/15329494/124362762-4098cd80-dc37-11eb-887b-5c0cc85bbe10.png)
![1_dark](https://user-images.githubusercontent.com/1

[2021-07-03 17:52] jpnurmi commented on #128
Not bad! On a related note, looking at these pictures.. isn't the option card's elevation the wrong way around? A button toggled down should be elevated less, right? :slightly_smiling_face:

[2021-07-03 17:55] Feichtmeier commented on #128
I was thinking also about the option card. I think it would be better to change the border or the background to a translucent accent colour on selection instead of changing the elevation. Or? Wdyt?

[2021-07-03 18:01] jpnurmi commented on #128
Agreed, it would make it easier to spot the selection at a glance.

[2021-07-03 22:09] madsrh commented on #43
The content on this screen takes up very little of window size. Would it be possible to add a faded mascot image in the background? (I apologize for the pixelated mockup below)

![image](https://user-images.githubusercontent.com/3986894/124367907-e0685280-dc5b-11eb-9e7c-650ebfd5f764.png)

[2021-07-03 22:38] madsrh commented on #84
Okay @Feichtmeier I think I've figured out how to explain what I'm seeing. When going through the install screens the cards most have same size in every screen. So for this screen the cards should IMHO have the same size as used on page 27.
You get the idea:

![image](https://user-images.githubusercontent.com/3986894/124368079-82d50580-dc5d-11eb-99d6-61b7c068943d.png)

-

![image](https://user-ima

[2021-07-04 12:58] Feichtmeier commented on #84
@madsrh good idea

It would be cool to make OptionCards behave and look equal everywhere.

Also @jpnurmi and me seemed to agree that we could maybe change the bg color of the card instead of the elevation on selection?
Like this (sorry for the wrong app, but same page)
![Peek 2021-07-04 14-55](https://user-images.githubusercontent.com/15329494/124385869-f156a980-dcd7-11eb-8ecf-c42f4b8e105f.gif)

[2021-07-04 13:09] jpnurmi commented on #84
The highlight looks a bit strong. 🙂 I recall you mentioned somewhere just changing the shadow color. Did you try how it would look that way?

[2021-07-04 13:18] Feichtmeier commented on #84
Yes but the shadowColor looks a bit weird:
![wip](https://user-images.githubusercontent.com/15329494/124386456-cf125b00-dcda-11eb-941c-4b2c8e5e92e2.gif)

Maybe with opacity changing?
![wip](https://user-images.githubusercontent.com/15329494/124386499-0c76e880-dcdb-11eb-9134-24ad5ce2335c.gif)

[2021-07-04 13:57] jpnurmi commented on #84
Agreed, the colored shadow doesn't look too good. :) What about a flat card with a highlighted border?

![image](https://user-images.githubusercontent.com/140617/124387764-0b948580-dce0-11eb-9949-ea98b0c18f25.png)

Sorry for the colors and the outline is also too thick. It's just a quick Gimped version of the elevation illustration at https://material.io/components/cards#behavior

[2021-07-04 14:12] Feichtmeier commented on #84
![wip](https://user-images.githubusercontent.com/15329494/124388287-9fffe780-dce2-11eb-9399-d36b2fc277f6.gif)

Like this? Or with a reduced primary color?

[2021-07-04 14:30] jpnurmi commented on #84
I was thinking an entirely flat card with a 1px accent color outline. ☺️

[2021-07-04 14:47] Feichtmeier commented on #84
![wip](https://user-images.githubusercontent.com/15329494/124389459-772e2100-dce7-11eb-8190-a19a6879eea2.gif)

Like this?

[2021-07-04 14:52] jpnurmi commented on #84
Sorry for these short and dull comments. :smile: What if you keep elevation for unselected cards? Making the selected one flat visualizes that the card has been toggled down on the surface.

[2021-07-04 15:00] madsrh commented on #84
I'm really not a fan of orange text but perhaps this will look better with the new accent color 🙈

The flat cards look good and are also in line with the mockups from the design team (IDK how accurate they are)

[2021-07-04 15:42] Feichtmeier commented on #84
@madsrh :) I live it, but I agree that it is a bit aggressive

@jpnurmi like this?
![wip](https://user-images.githubusercontent.com/15329494/124391080-202c4a00-dcef-11eb-8854-eded715302fc.gif)

[2021-07-04 16:41] jpnurmi commented on #84
I wish the orange text had more contrast against the dark background, but that's a different discussion. From the options so far, the last two are my favorites. :+1:

[2021-07-04 16:43] Feichtmeier commented on #84
I plan to adapt the dark yaru flutter theme to the dark yaru gtk theme, which would make the color darker and thus the contrast higher

[2021-07-05 08:06] long-chung commented on #43
Not keen on this. There's a lot of noise and repetition on this screen.

[2021-07-05 08:10] long-chung commented on #128
I really like the border colour on the selected state.
Also is the background grey in the light theme? if it is then it should be reverted back to white to be consistent with the rest of the installer pages.
As a side note, cards should only have elevation on hover. Rested state is just a border.

But otherwise looking really really nice. Thanks.

[2021-07-05 19:40] rekcus2 opened #129 "Include some BASIC information!"
I was able to find out that it is based on some Ubuntu server installer. And build with Flutter, but that is it.

Articles suggest people can try it out in 21.10. Is this true? Is there a compiled version shipped with the daily build? Can I try this with 21.04? What is the difference between "run" and "live run" the readme on how to run it is incomplete and confusing.

I have seen some things that

[2021-07-06 08:29] Feichtmeier commented on #84
@long-chung sorry for the confusion about what issue is what.

Here is a gif of the things we have been discussing:

- different optioncard
- flat AppBar

if you agree on this I put it in my PR
![ok](https://user-images.githubusercontent.com/15329494/124568310-11f04200-de45-11eb-8d8b-b65361b3a4f7.gif)

[2021-07-06 08:36] long-chung commented on #84
@Feichtmeier Thanks for clarifying. Looks good, +1 from me.

[2021-07-06 21:40] #128 closed

[2021-07-07 13:23] jpnurmi opened #133 "Proposal: decouple routing logic from pages"
The proposal is to move routing logic out of wizard pages so that individual pages wouldn't have to care about what comes next.

Requirements:
- Introducing new pages shouldn't cause changes in existing pages.
- Re-ordering pages should be a matter of changing the order in one central place.
- It must be possible to have conditional routes (e.g. if online, skip the connect to internet page).

Exam

[2021-07-07 13:36] Feichtmeier commented on #133
Sounds great - I also missed a single place for the routes!

[2021-07-07 13:37] Feichtmeier opened #135 "Proposal: add a page indicator"
Could we eventually create some kind of indicator for the page index or some sort of orb indicator like so
![grafik](https://user-images.githubusercontent.com/15329494/124768123-b2735e80-df38-11eb-9de1-0a6f26a3755e.png)

?

Easy code snippet
[code]

It could be either be put into the wizard page, or into the AppBar - or? Any other suggestions? :)
@madsrh @long-chung

[2021-07-07 13:58] Feichtmeier commented on #133
Ah one idea: would it be possible to mark one of the routes somehow as "finalized route" or "lastRoute" so the wizardaction on the last page would be an ElevatedButton (yaru green buttons) instead of an OutlinedButton ?

[2021-07-07 14:06] jpnurmi commented on #133
@Feichtmeier The example is a bit simplified version. In the real installer, highlighted actions are defined as `WizardAction(highlighted: true)`. There can be any amount of actions and they can do basically anything.

Note to self: naturally, the syntax should be `Wizard.of(context).next()`. The context needs to be inside FlowBuilder and a little shortcut was taken in the example... :)

[2021-07-07 14:54] oSoMoN commented on #125
They are `info`-level messages, not warnings, so they won't fail the analyzer.

In general, documenting all public members is a good practice and we're not doing a very good job of it, so having these messages as a reminder is not such a bad thing, even though I agree that this makes the rest of messages less visible.

There are situations where it's legitimate not to document public members, but

[2021-07-07 15:00] oSoMoN commented on #133
That looks like a sound proposal, thanks @jpnurmi!

What about pages that take arguments (see e.g. https://github.com/canonical/ubuntu-desktop-installer/blob/main/packages/ubuntu_desktop_installer/lib/pages/allocate_disk_space_page.dart#L135)?

[2021-07-07 15:09] Feichtmeier commented on #31
I think this could be closes as #88 has been merged :)

[2021-07-07 15:22] #31 closed

[2021-07-07 15:36] #84 closed

[2021-07-07 15:53] Feichtmeier commented on #125
i understand the importance of the documentation. It's just very hard to spot currently important warnings like missing "const" keywords and so on. I mostly try to remember the number of warnings and see if the number changes, then look it up and find warnings I have produced :)
Maybe we should just start to document the public members then to get a clean workspace :) I could start with the Choose

[2021-07-07 15:59] charafau opened #136 "Allocate disk space page doesn't support dark mode"
Most likely easy to fix: currect allocate disk space page doesn't change font colors for partition table

![Screenshot from 2021-07-07 16-59-01](https://user-images.githubusercontent.com/1143994/124792188-b1482e80-df44-11eb-9ad3-e8657e40feb9.png)

[2021-07-07 16:06] Feichtmeier commented on #136
I guess I can fix this,  the color is hardcoded here:

https://github.com/canonical/ubuntu-desktop-installer/blob/a290e161896a0ae37936906280f977bf6ec26dc4/packages/ubuntu_desktop_installer/lib/pages/allocate_disk_space_page.dart#L68

[2021-07-07 16:39] oSoMoN commented on #125
That sounds like a good initiative!

[2021-07-07 17:13] Feichtmeier commented on #136
![image](https://user-images.githubusercontent.com/15329494/124801327-02611e00-df57-11eb-85c0-e95a79d298ca.png)
![image](https://user-images.githubusercontent.com/15329494/124801631-57049900-df57-11eb-87d3-f9b8796877a1.png)

I think this is okay, right?

[2021-07-07 18:50] Feichtmeier commented on #40
@oSoMoN I'd like to work on this

[2021-07-07 18:52] jpnurmi commented on #133
Provider most often eliminates the need of constructor parameters. State/info can be shared via models and services (i.e. Subiquity client, network service, ...).

In this specific case, would it be a bad solution to make the "Write changes to disk" page use `SubiquityClient.getGuidedStorage` instead of passing it as a constructor argument? It's an extra HTTP request but would cut the hard depende

[2021-07-07 19:49] Feichtmeier commented on #40
@oSoMoN @longchung

I thought about something like this for the avatars (ofc the user scrolls through the avatars)

WDYT?

![whoareyou](https://user-images.githubusercontent.com/15329494/124819838-0e57da80-df6d-11eb-8be5-e12e093d4338.gif)
![grafik](https://user-images.githubusercontent.com/15329494/124819920-22034100-df6d-11eb-8b1b-497529527746.png)
![grafik](https://user-images.githubusercontent.

[2021-07-07 20:55] oSoMoN commented on #40
That looks nice, but scrolling through the avatars doesn't seem very discoverable, I'll let Long comment on it.

[2021-07-07 21:02] oSoMoN commented on #133
It's a bit counter-intuitive, but `SubiquityClient.getGuidedStorage()` doesn't return the information we want, the storage config we need is the response we get after calling `SubiquityClient.setGuidedStorage(…)`. So we need to pass this information from one screen to the next, somehow. I suppose we could use a separate model for this (or modify `SubiquityClient` to keep a copy of the storage conf

[2021-07-07 21:05] Feichtmeier commented on #40
Thanks! One can let the other avatars be viewable at the left and right edges of the box :)
like ......... ) O (
One more question for the design: should the lower 4 textfields only show up when "require login" radio is selected?

[2021-07-07 21:10] oSoMoN commented on #84
While I also appreciate the reference to "the sound of silence", I wonder if it's really appropriate. People who don't get the reference might be confused. @long-chung can you please comment?

[2021-07-07 21:11] #136 closed

[2021-07-07 21:14] oSoMoN commented on #84
Also, this reference makes the work of translators quite hard.

[2021-07-07 21:25] Feichtmeier commented on #84
Sure thing I am not really attached to it :) Was just a middle long sentence that somehow fitted in there 👍 🕶️  💡

[2021-07-07 22:20] jpnurmi commented on #135
Isn't the number of pages pretty high for page indicators?

[2021-07-07 22:24] Feichtmeier commented on #135
Yes. It doesn't need to be dots. But some kind of indication would be great. Currently you have no idea what to expect, how long this takes and where you are in this process.

Maybe a simple 2/17 would be enough

[2021-07-07 23:22] madsrh commented on #135
I like the idea, BUT I wonder if it was a deliberate decision by the Canonical design team to "remove" them? (If these screens are based on ubiquity).
I've ofc encountered page indicators many times before, but why aren't these found in the installation/setup for OSX, Windows 11, Adobe CS, Firefox or Android 🤷‍♂️

This would probably be something Will Grant (wgx) would have an opinion about.

![th

[2021-07-08 07:26] jpnurmi commented on #37
What happens when the user presses back on the next screen? Should this be a popup like in the old installer, because it doesn't seem appropriate to ask writing the same changes again?

[2021-07-08 07:59] oSoMoN commented on #37
That's a good question. @long-chun, how does navigation work here?

[2021-07-08 10:20] long-chung commented on #135
We purposely removed the indicators because it doesn't give you a good indication of where you are in the installation, as you could go to other pages during setup.

[2021-07-08 10:24] long-chung commented on #37
@oSoMoN At the point of clicking continue; do we do the formatting, or is this at the install page (installation slides)?

[2021-07-08 10:37] Feichtmeier commented on #135
@long-chung @madsrh  it wouldn't need to be orbs - how about something like a page indicator in a book?

![grafik](https://user-images.githubusercontent.com/15329494/124908094-38e77900-dfe9-11eb-8f71-6498ad780029.png)

[2021-07-08 10:42] long-chung commented on #135
Here's a rough flow of the various points you could end up. The indicator would be misleading if you end up in any one of the end points in the diagram.

<img width="602" alt="Screenshot 2021-07-08 at 11 40 36" src="https://user-images.githubusercontent.com/68847062/124908681-81029d80-dfe1-11eb-9866-b7107247187a.png">

[2021-07-08 10:44] Feichtmeier commented on #135
Okay... You are right 😊 if the process is not "linear" then this doesn't make any sense

[2021-07-08 10:49] oSoMoN commented on #129
You're raising a number of different issues with the current installer, all intertwined, which makes it hard to answer thoroughly.

If you look at [the issues page](https://github.com/canonical/ubuntu-desktop-installer/issues) for the project, you will see that there are bugs filed for specific partitioning requirements, so I suggest you check whether your issues are already known, and if not plea

[2021-07-08 10:50] #129 closed

[2021-07-08 11:00] oSoMoN commented on #29
Thanks for the feedback @corradoventu and @elbeicktalat. The project is still very much WIP with lots of moving parts and we're aware of basic functionality that doesn't work as expected. At this point I can only encourage you to test again from time to time and share your feedback like you did already. We're hoping to get to a minimally-working state in the near future.

[2021-07-08 14:45] Feichtmeier commented on #40
@oSoMoN

![whoareyou2](https://user-images.githubusercontent.com/15329494/124942120-a3a9ac00-e00b-11eb-94c0-3355f03ff96d.gif)
![grafik](https://user-images.githubusercontent.com/15329494/124942245-be7c2080-e00b-11eb-9e7c-fb518f2c295f.png)

This is what I meant in the comment above.
@long-chung would you like to have the picture/avtatar selection in the installer?

[2021-07-08 14:58] oSoMoN commented on #40
That looks good to me (but please wait for confirmation from @long-chung, I'm not a designer).
That list of avatars would include the default user icon, I suppose?

[2021-07-08 15:06] waynecrosby commented on #84
@Feichtmeier I really like the animation transitions but I'm not sure the orange text is working and it isn't explicitly obvious which selection you have made. I would suggest just using white and dark grey text and just use the orange to outline the box. Below are a couple of examples with the text and visual knocked back (when not selected) and a small shadow to emphasise your choice. There is a

[2021-07-08 15:16] Feichtmeier commented on #40
Sure, sorry - messed up his user name in the tag above :)

I think it should include the default user image, yes. I think it should be possible to generate an image with the initiales. Currently those are mock up images from the internet :)

Vertical is also possible
![vertical](https://user-images.githubusercontent.com/15329494/124947575-3c422b00-e010-11eb-9481-279a6547b7d3.gif)
![grafik](https:/

[2021-07-08 15:18] long-chung commented on #40
@Feichtmeier This looks nice, but is out of scope for the installation.
Maybe as an update at a later time.

There are a few things that need to be considered, for example:
- Do we allow the user to upload their own avatar
- Does the user select from a list, or browse more
- How many images could we realistically show in a carousel, list, grid etc

I'm sure they may be more but thats all I can thi

[2021-07-08 15:19] Feichtmeier commented on #84
@waynecrosby alright ! WIll do - thanks for the feedback :)

[2021-07-08 15:25] Feichtmeier commented on #40
@long-chung

Only after this
https://github.com/flutter/flutter/issues/41710
works in flutter

i would suggest this caroussel

You can add as many items to a carousel as you want. If you select infinite scrolling the first item comes after the last one. If not you need to scroll back

[2021-07-08 15:27] Feichtmeier opened #139 "Improve OptionCard selections"
@Feichtmeier I really like the animation transitions but I'm not sure the orange text is working and it isn't explicitly obvious which selection you have made. I would suggest just using white and dark grey text and just use the orange to outline the box. Below are a couple of examples with the text and visual knocked back (when not selected) and a small shadow to emphasise your choice. There is a

[2021-07-08 15:40] jpnurmi commented on #139
IMHO the gray one looks disabled. Also, if we want to mimic the real world, a toggle button is pressed down. It would be the unselected one that pops up with a shadow, right?

[2021-07-08 15:45] Feichtmeier commented on #139
I would suggest to adapt to elevated buttons.
No elevation at all except on hover.

We can try opacity change depending on state but maybe not as drastically as Wayne proposed

[2021-07-08 15:50] long-chung commented on #40
@Feichtmeier Thanks.

All these things add extra steps/complications that need a bit more thought and was never planned in this release.
So for now let's put this on the nice to have list.

[2021-07-08 17:26] Feichtmeier commented on #139
@waynecrosby

I think the elvation stuff does not work well at this size. How about a full flat widget? And only indicate hover / selected with text color and border?

Reducing the opacity of the picture looks indeed disabled, so I would prefer to skip this

![noelevation](https://user-images.githubusercontent.com/15329494/124965321-4a994280-e022-11eb-9ba9-e4a902aa8695.gif)

[2021-07-08 17:51] dbungert opened #141 "crash when attempting to write to disk"
I'm able to observe a UI crash when getting ready to write to disk:

1) impish daily canary, July-8 with md5 3c806e78d5af0140707433b98d6938e7
2) qemu like so: kvm -no-reboot -drive file=/path/impish-test.img,format=raw,cache=none,if=virtio -m 8192 -cdrom /srv/iso/impish/impish-desktop-canary-amd64-2021-07-08.iso -nic user,model=virtio-net-pci
3) 'try ubuntu'
4) snap refresh ubuntu-desktop-installe

[2021-07-09 08:09] waynecrosby commented on #139
@Feichtmeier Completely agree with you! I think it's clear now what you have selected and the font colour works much better. Looks good to me :)

[2021-07-09 16:30] oSoMoN commented on #141
I can confirm the problem, when running the latest ubuntu-desktop-installer snap from the edge channel in a fully up-to-date impish VM.  Relevant log:

    flutter: Storage config: [
      {
        "ptable": "gpt",
        "serial": "VBOX_HARDDISK_VB6fca352b-ba4cbf74",
        "path": "/dev/sda",
        "wipe": "superblock-recursive",
        "preserve": false,
        "name": "",
        "grub_

[2021-07-09 16:40] oSoMoN commented on #37
@long-chung the formatting only happens when we call subiquity's `confirm()` API (@dbungert please correct me if I'm wrong). We're currently calling it when clicking continue, but this is a provisional implementation, the call to `confirm()` will be moved to whenever we really want to start the installation.

[2021-07-09 16:55] dbungert commented on #37
This section from the subiquity design is relevant:
https://github.com/canonical/subiquity/blob/main/DESIGN.md#the-server-state-machine

The subiquity controllers can be grouped into two categories:
1) Stuff that Curtin does ("install" models)
2) Stuff that Cloud-init does ("post-install" models)

Filesystem handling is curtin.
This allows, if desired, the install to get started while we're handli

[2021-07-09 22:55] madsrh commented on #38
@oSoMoN / @ long-chung would you consider rethink this screen? Perhaps just a simple search field with autosearching each typed letter and displaying the results in a popup with the flag of the country 🇬🇧

Or is the plan is to reimplement the design from ubiquity? If so, here's some feedback from team Yaru:

- The colors look very outdated (and aren't taken from the Yaru color palette)
- The curre

[2021-07-10 08:00] long-chung commented on #38
@madsrh Totally agree. The map is outdated but was never in scope to redesign. If there is another option being worked on by another team i'm more than happy to relook at this.

[2021-07-10 16:43] corradoventu commented on #29
Try install from ISO dated 2021-07-10 09:44
snap:ubuntu-desktop-installer	stable/ubuntu-21.10	36
the window for Keyboard layout is now ok but the window for allocate disk space seems wrong.
![Screenshot from 2021-07-10 16-02-24](https://user-images.githubusercontent.com/26655337/125170222-31250180-e1ae-11eb-9644-0ee87e3dcd1e.png)

[2021-07-10 16:45] corradoventu commented on #36
Try install from ISO dated 2021-07-10 09:44
snap:ubuntu-desktop-installer	stable/ubuntu-21.10	36
The window for 'Allocate disk space' seems
![Screenshot from 2021-07-10 16-03-45](https://user-images.githubusercontent.com/26655337/125170369-06877880-e1af-11eb-8b2b-5ad77cbab41e.png)
very different from design

[2021-07-11 09:55] Feichtmeier commented on #38
@oSoMoN I'd like to work on this :)

[2021-07-11 13:19] madsrh commented on #139
**jpnurmi** wrote:

**+1**, I still think the gray text looks disabled. Are you sure the orange border isn't sufficient @waynecrosby ?
Unselected text is usually black and gray is indicates a disabled state, like:

![image](https://user-images.githubusercontent.com/3986894/125196719-21172b80-e25b-11eb-8b18-e9a91269e0b9.png)

[2021-07-11 20:11] Feichtmeier commented on #125
Okay, changing this already for new PR, and with https://github.com/canonical/ubuntu-desktop-installer/pull/140 I think we can close this - thanks for the discussion!

[2021-07-11 20:11] #125 closed

[2021-07-12 05:57] Feichtmeier commented on #27
@oSoMoN

could you eventually close the issues that have been implemented? This could help a bit to keep track for external contributors 😊

[2021-07-12 08:45] oSoMoN commented on #27
You're right. Implementation isn't 100% complete, but it's good enough to consider closing this issue I suppose.

[2021-07-12 08:45] #27 closed

[2021-07-12 08:54] Mannshoch commented on #27
Could you please give me a short feedback about your thinking for #28

[2021-07-12 09:09] jpnurmi opened #147 "Proposal: separate business logic"
I'd like to propose using MVVM for separating widgets (pages) and their business logic. Some benefits:
- present state with widgets, maintain state outside the widget tree
- notify state changes to control rebuilds (replaces setState() calls)
- testable business logic (mock services)
- easier to test widget tree (mock models)
- simpler and easier to read widget tree

### Before
[code]

### After
[

[2021-07-12 09:15] jpnurmi commented on #147
@oSoMoN, you can assign this to me if you like the proposal.

[2021-07-12 09:16] waynecrosby commented on #139
@madsrh Ok, let's just try with the orange border and the text remains the same to avoid the disabled state issue. Thanks

[2021-07-12 09:53] Feichtmeier commented on #139
opacity for unselcted cards when one card is selected is now on 0.65
![Peek 2021-07-12 11-46](https://user-images.githubusercontent.com/15329494/125267298-f4205280-e306-11eb-81d2-3ebf8b36cdb6.gif)

Or rather no text color change at all?
![Peek 2021-07-12 11-52](https://user-images.githubusercontent.com/15329494/125268133-b2dc7280-e307-11eb-9cd6-28052cd5991f.gif)

@waynecrosby @madsrh ?

[2021-07-12 09:55] seb128 opened #148 "Selecting a keyboard layout has no effect"
Selecting a keyboard layout in the list doesn't change the active one, that's because the setKeyboard API from subiquity calls setupcon which works for VTs but not graphical sessions

The standard way to change the active layout for Xorg is to call setxkbmap -layout ... -variant ...

Under wayland there is no equivalent though. One way could be to call to localectl set-keymap and to teach g-s-d to

[2021-07-12 11:44] oSoMoN commented on #141
In udi.log, the JSON entry with type "disk" doesn't have a "serial" property. @dbungert is that expected, or something missing in subiquity?

In my case, the missing property is "wipe" on the entry with type "partition".

In both cases we can handle more gracefully missing properties, but I'd like to understand whether this is valid input.

[2021-07-12 14:08] Feichtmeier commented on #38
@long-chung @madsrh

I really like the minimal vibe here, WDYT? padding could be improved I guess

(click to enlarge)
![Peek 2021-07-12 16-07](https://user-images.githubusercontent.com/15329494/125301536-5db25800-e32b-11eb-8ec0-a4cf46192aa2.gif)

[2021-07-12 14:15] madsrh commented on #38
It looks cool 😎 but I think it might be confusing for some users. Better add the border so it's clear that it's a textfield

[2021-07-12 14:49] dbungert commented on #141
@oSoMoN - as far as I know, real disks should have serial numbers, but as soon as we assume that someone's install is going to fail in a bad way.  In my experience, qemu disks don't have a serial unless you give it one - though I'm only seeing the serial option in the virt-install manpage, not qemu-system-x86_64, so let me explore.

Curtin has mixed opinions on needing the serial or not.  Some pla

[2021-07-12 14:51] waynecrosby commented on #139
@madsrh @Feichtmeier I think it's probably simpler and will raise less issues if we have it with no text change :)

[2021-07-12 15:09] dbungert commented on #141
You also asked about 'wipe'.  It is not necessarily going to always be present - for instance maybe there are multiple disks, we're probably not wiping them all.  This page might help: https://curtin.readthedocs.io/en/latest/topics/storage.html

[2021-07-12 15:51] #141 closed

[2021-07-12 16:26] jibel opened #155 "WSL Screen 1 - Select your language"
This is the design for the stage "**Select your language**" of WSL OOBE.
Master issue: #160

![WSL Screen 1 - Language](https://user-images.githubusercontent.com/1928546/125322820-7415df00-e33e-11eb-9f31-a3ac05406018.png)

Design specification: https://people.canonical.com/~platform/desktop/installer/WSL/#s0

[2021-07-12 16:31] jibel opened #156 "WSL Screen 2 - Profile setup"
This is the design for the stage "**Profile setup**" of WSL OOBE.
Master issue: #160

Default
![WSL Screen 2 - Identity](https://user-images.githubusercontent.com/1928546/125323410-09b16e80-e33f-11eb-917d-44bf6cdca7f1.png)

Filled
![WSL Screen 2 - Identity filled](https://user-images.githubusercontent.com/1928546/125323423-0f0eb900-e33f-11eb-9e5f-b43b094b55f4.png)

Design specification: [Default](

[2021-07-12 16:34] jibel opened #157 "WSL Screen 3 - Advanced setup"
This is the design for the stage "**Advanced setup**" of WSL OOBE

Default
![WSL Screen 3 - Advanced Setup 1](https://user-images.githubusercontent.com/1928546/125324002-bbe93600-e33f-11eb-8927-5f02a5a13edf.png)

Filled
![WSL Screen 3 - Advanced Setup 1 filled](https://user-images.githubusercontent.com/1928546/125324016-bf7cbd00-e33f-11eb-83f0-2b219c93ca5c.png)

Design specification: [Default](htt

[2021-07-12 16:37] jibel opened #158 "WSL Screen 4 - Configuration UI"
This is the design for the stage "Configuration UI" of WSL OOBE

Default
![WSL Screen 5 - Configuration UI](https://user-images.githubusercontent.com/1928546/125324400-2ac68f00-e340-11eb-94a0-6245efe8091c.png)

Filled
![WSL Screen 5 - Configuration UI filled](https://user-images.githubusercontent.com/1928546/125324414-2d28e900-e340-11eb-8ca4-a91f920fd707.png)

Design specification: [Default](https

[2021-07-12 16:39] jibel opened #159 "WSL Screen 5 - Setup complete"
This is the design for the stage "Setup complete" of WSL OOBE

![WSL Screen 4 - Setup Complete](https://user-images.githubusercontent.com/1928546/125324653-65302c00-e340-11eb-94ba-faecac2ce982.png)

[Design specification](https://people.canonical.com/~platform/desktop/installer/WSL/#s3)

[2021-07-12 16:49] jibel opened #160 "WSL OOBE Design specification"
This is the master issue to track the work on the design of the GUI of WSL OOBE.

The OOBE starts on the first boot of a WSL instance. It is similar, in concept, to the OEM setup of a current desktop installation. The OOBE is a first boot wizard which guides the user through the initial configuration of the WSL instances and helps him to:
- Select a language,
- Configure the default user,
- Config

[2021-07-13 03:47] mwhudson commented on #37
yeah it's expected that you call /meta/confirm once the install state is NEEDS_CONFIRMATION, basically, which is indicated two ways: via /meta/status and by GET to a unconfigured controller returning x-status: confirm as an http header. It's done this (admittedly confusing) way to support partially interactive installations -- if the keyboard section is the only interactive controller that feeds i

[2021-07-13 07:35] jpnurmi commented on #156
Should it have input validation similarly to the [Who are you](#40) page?

- error labels for invalid inputs (invalid username, password mismatch)
- green check marks for valid fields
- password strength label

[2021-07-13 08:12] seb128 commented on #102
@jibel opened issues for the individual screens now so let's close this one

[2021-07-13 08:12] #102 closed

[2021-07-13 08:25] jibel commented on #156
On 13/07/2021 09:35, J-P Nurmi wrote:

Yes to the 3 points. The pages are identical in behaviour. The main
difference is that there is no "hostname" for WSL.

[2021-07-13 10:47] seb128 opened #163 "Keyboard selector doesn't default to the best variant"
Using r39 of the snap when picking a language it seems the variant selected is always the first one in the list on the right. Often that's not the preferred one, the debian installer and ubiquity use the definitions from https://salsa.debian.org/installer-team/console-setup/-/blob/master/debian/keyboard-configuration.config , is subiquity having a similar logic and providing an API for it?

[2021-07-13 10:56] seb128 opened #164 "Write change to disk summary doesn't match design"
Screenshot from r39 doing an installation in a virtual env with one disk available

![installerdisks](https://user-images.githubusercontent.com/10974330/125439480-715e830b-d9ea-4de8-a0fd-8f0db0390af1.png)

Compared to the design on https://people.canonical.com/~platform/desktop/installer/12.%20Write%20Changes%20to%20Disk/

- the summary includes the path /dev/vda instead of the name vda
- the subl

[2021-07-13 14:03] jpnurmi commented on #155
Just wanted to check because I was going to re-use the same page as is, but then I noticed that the text is different.

[2021-07-13 14:41] jpnurmi commented on #160
It's not a pixel-perfect replica of the design, but here's the current status (UI parts only, no actual functionality under the hood).

![wsl](https://user-images.githubusercontent.com/140617/125471383-5b169a15-0cef-4581-9db8-ec4b569d5b6c.gif)

I'm going to help with #144 so we can use the validated input field @Feichtmeier made.

[2021-07-13 16:37] oSoMoN commented on #163
Indeed the current implementation is rather dumb and [selects the first variant in the list](https://github.com/canonical/ubuntu-desktop-installer/blob/main/packages/ubuntu_desktop_installer/lib/pages/keyboard_layout_page.dart#L100).

@dbungert can you comment on the availability of a subiquity API for that?

[2021-07-13 16:38] #148 closed

[2021-07-13 17:56] oSoMoN commented on #38
I personally think that the map is a valuable element on this screen. A refresh wouldn't hurt, but I would keep it (maybe explore the addition of the search field).

@iainlane pointed out that the current implementation in ubiquity is [a GTK widget](https://launchpad.net/timezonemap), we'll need an equivalent implementation in flutter anyway (and @kenvandine pointed out that we'll want it to work

[2021-07-13 18:01] Feichtmeier commented on #38
@oSoMoN I also thought about the offline part.
Created a 15mb json with all cities of the world mapped to their timezones.
Would this be okay, or a concept totally not working because of the file size of the json?

A rough prototype of this idea can be tested here: https://github.com/Feichtmeier/ubuntu-desktop-installer/tree/where_are_you_page (totally not ready even for a WIP PR because I am some

[2021-07-13 21:28] mwhudson commented on #163
subiquity is dumb about this too and we should fix it to be better. Does anyone know where d-i keeps the "default keyboard for a language" information?

[2021-07-13 21:45] seb128 commented on #163
in the file mentioned in the issue description afaik

[2021-07-14 12:20] Feichtmeier commented on #139
@waynecrosby we have one more question on this topic for you :)

Would you like the border to be 1px thick, like in the following gif?

![Peek 2021-07-14 14-18](https://user-images.githubusercontent.com/15329494/125620912-ea0bfe68-63c0-42b5-bed6-8f0c99838bc3.gif)

[2021-07-14 12:28] jpnurmi commented on #139
How about 1px gray border & 2px orange border like TextField?

[2021-07-14 14:24] waynecrosby commented on #139
@Feichtmeier I think that the 1px looks ok in light mode, but when you switch to dark it gets totally lost. So to be consistent, I would be happy to use 2px for selected states in both light & dark mode. We are also in the install phase and settings realm where we need to be quite specific in what has been selected and 1px in my opinion is too thin.

[2021-07-14 14:51] #139 closed

[2021-07-15 07:50] seb128 opened #171 "Socket errors after idling for a while on a screen"
Using the current snap on a canary live session, if you go to the keyboard selection page, do nothing and wait for some minutes then select a layout and click next the installer hits a socket error

[ERROR:flutter/lib/ui/ui_dart_state.cc(209)] Unhandled Exception: SocketException: Write failed (OS Error: Broken pipe, errno = 32), address = /run/subiquity/socket, port = 0

The socket is still avail

[2021-07-15 08:02] jpnurmi commented on #42
@charafau Did you already start working on this?

[2021-07-15 08:56] charafau commented on #42
Yes, I will try to upload my code today

[2021-07-15 09:06] jpnurmi commented on #42
Awesome, thanks!

[2021-07-15 20:36] dbungert opened #175 "Locale not being set on target system"
It looks like cloud-init wants locale in the following format
language_COUNTRY.UTF-8

Please change from the current, which only sends language as a 2 letter code, with no _COUNTRY after it.

[2021-07-15 22:13] mwhudson commented on #163
Ah hah I should try reading issue description not just the summary!

[2021-07-16 12:38] oSoMoN commented on #175
The current implementation calls `SubiquityClient.setLocale()` when leaving the welcome page, which offers a list of languages.
At this point we are missing information (a country code).
So we need to wait until https://github.com/canonical/ubuntu-desktop-installer/issues/38 is implemented, and only when the user has selected a location can we build a complete locale with language code + country c

[2021-07-16 21:55] seb128 commented on #175
I'm unsure how that's supposed to work? A french person living in Berlin is going to select french as language and Germany on the location selector but it doesn't mean the resulting locale should be fr_DE.UTF-8. Unless we have a list of language that have a country code and only apply the combo when the country selected is valid for the locale?

What is subiquity doing in that regard? One alternat

[2021-07-19 14:28] dbungert commented on #175
Subiquity has a list of languages, except for English(UK) - https://raw.githubusercontent.com/canonical/subiquity/c284ff140e40c26f2a4fbd40debad90528eeab03/languagelist

[2021-07-20 16:39] jpnurmi commented on #42
@charafau Just a heads-up that we are adding a simple temporary installation page to show that something is happening: https://github.com/canonical/ubuntu-desktop-installer/pull/186. We can replace it with the slides when ready. :)

[2021-07-21 00:27] charafau commented on #42
thanks for info, hopefully soon! (famous last words)

[2021-07-30 05:05] #40 closed

[2021-07-30 05:38] jpnurmi commented on #147
The existing pages have been adapted where applicable.

[2021-07-30 05:38] #147 closed

[2021-07-30 11:21] jpnurmi commented on #38
[flutter_map](https://pub.dev/packages/flutter_map) seems to have support for offline maps using [TileMill](https://tilemill-project.github.io/tilemill/).

[2021-07-30 16:10] Feichtmeier commented on #38
Sorry due to some IRL trouble (nothing bad, still stressfull) I can't currently work on this. Please unassign me @oSoMoN
If you are interested in my solution @jpnurmi check out my branch :) Best regards

[2021-07-31 10:42] jpnurmi commented on #133
Solved by https://github.com/canonical/ubuntu-desktop-installer/pull/183

[2021-07-31 10:42] #133 closed

[2021-07-31 10:44] jpnurmi commented on #100
AppBar's elevation was reduced to 1.0 in https://github.com/ubuntu/yaru.dart/pull/73.

[2021-07-31 10:44] #100 closed

[2021-08-02 11:35] jpnurmi commented on #38
The GTK timezone map widget has [5mb data of cities and countries](https://packages.ubuntu.com/impish/all/libtimezonemap-data/filelist) that originates from [geonames.org](http://www.geonames.org/), and queries for more data from [geoname-lookup.ubuntu.com](https://geoname-lookup.ubuntu.com/?query=london&lang=en&release=impish).

[2021-08-02 11:42] jpnurmi commented on #38
@Feichtmeier Thank you for your work on this! I was mostly curious about the options for bundling and fetching the data.

[2021-08-03 13:28] oSoMoN commented on #175
That's a very limited subset of possible locales, we should aim at allowing a larger choice.

We could indeed associate a full locale code (language + region) to each language on the welcome page, as a default option.
Then on the "where are you" page build a locale code with (language + newly selected region), and set it if it happens to be a valid locale.

[2021-08-03 15:13] oSoMoN commented on #175
ubiquity seems to be doing basically what I'm suggesting: use the country set on the "where are you" page to [try and build a valid locale code](https://git.launchpad.net/ubiquity/tree/scripts/tzsetup#n29).

`/usr/share/i18n/SUPPORTED` has a list of valid locales to check against.

[2021-08-03 15:14] seb128 commented on #175
@oSoMoN +1 from me on doing what you suggested and ubiquity is doing

[2021-08-04 02:00] mwhudson commented on #175
So let me see if this very l10n naive English speaker (sorry) can get this right. Please correct any terminology I get wrong -- I really do want to know more about this.

1. The very first screen shown is a list of languages.
2. Selecting a language switches the UI to that language (using other localization stuff from the default territory for that language, so selecting french gets you fr_FR not

[2021-08-04 08:29] oSoMoN commented on #175
That sounds basically correct to me (I'm no l10n expert either). A few precisions:

 2. Some of the language choices are variations/dialects (e.g. Brazilian Portuguese). They are often associated with a specific region/country (Brazil in the case of Brazilian Portuguese), but there's no 1-1 mapping (e.g. Traditional Chinese vs Simplified Chinese)

 3. If language + _ + country code is not supporte

[2021-08-04 15:14] oSoMoN commented on #43
This has been implemented by @charafau, thanks!

[2021-08-04 15:14] #43 closed

[2021-08-06 16:53] #175 closed

[2021-08-09 22:03] mwhudson commented on #32
Can someone please edit at least the title of this issue to be something less triggeringly misleading?

[2021-08-11 09:11] jpnurmi commented on #33
Hi @ArishSultan. Did you, by any chance, push the implementation somewhere when you were working on this? Your profile status suggests that you may be busy, so perhaps someone else could help to finish up the page? Presumably, some non-trivial rebasing and changes are needed, because a lot has happened over the past months.

[2021-08-11 10:16] jpnurmi commented on #26
This was the first page that was implemented and should be now fully functional. I'm closing the ticket as agreed to make it easier to follow the status.

[2021-08-11 10:16] #26 closed

[2021-08-12 06:02] ArishSultan commented on #33
@jpnurmi i am getting free in a week, i will get back to my task, the implementation was very slow back so, i drifted away with some other projects, but i am coming back in a week.

[2021-08-12 09:51] Mannshoch commented on #28
I'm a bit disappointed. Why didn't any of you commented my Idea?

[2021-08-12 09:52] MarcusTomlinson commented on #28
So sorry about that @Mannshoch, let's see what @long-chung thinks about it.

[2021-08-12 10:11] long-chung commented on #28
You should only get to this screen if RST is detected.
I think MPT felt that there would be no value in selecting the "try ubuntu" if you elected to install.
You'd need to exit the demo and/or the installation to turn off RST so what benefit is there in going into demo mode other than viewing the instructions which are quite lengthy and detailed hence the message to view on another device while yo

[2021-08-12 10:12] jpnurmi commented on #28
- My first impression is that the proposed screen looks crowded. It also sort of assumes that the user's goal is to install Ubuntu. All that information about RST is irrelevant if they only want to try Ubuntu, right?

- From a UX point of view, shouldn't the dominant UI elements stay in the same place regardless of the underlying conditions?

- I do like the idea of preventing user action instead

[2021-08-12 12:09] jpnurmi commented on #171
Fixed by https://github.com/canonical/subiquity/pull/1022

[2021-08-12 12:09] #171 closed

[2021-08-12 14:41] jpnurmi opened #224 "System restart doesn't work"
Steps:
- Finish installation
- Press restart

Result:
- Expected: the system restarts
- Actual: UI exits without restarting the system

It should help if Subiquity is able to ack the reboot request in the future, so the UI can wait until the request has been received.

[2021-08-13 02:55] roylez opened #229 "Feature request: Screen 8, custom LVM layout"
Hello,

The new installer does not allow custom LVM layout in screen 8, and this is an important missing feature.

Selecting the first option erases the whole disk and allocates all disk space to LV and does not give any flexibility which is the who point of using LVM.

Selecting "something else", there is an option to format the partition as PV, but it has to be encrypted, which again, is not eve

[2021-08-13 12:45] kfiresmith commented on #229
Hi Canonical folks - I'm the Canonical UA customer who requested this - thanks @roylez for this issue!

To provide a "user story" for this feature request, what we are doing is trying to meet some general best-practice guidelines for partition isolation as described in various controls documents such as NIST 800-171, or CIS hardening guides, as well as ensure that we are setting some sane defaults

[2021-08-13 13:17] jpnurmi commented on #36
Could someone list the supported filesystem formats and all pre-defined mount points?

![Screenshot from 2021-08-13 15-14-11](https://user-images.githubusercontent.com/140617/129362581-e8ed49af-ebf2-4485-a0d7-9e9c6c2b84d7.png)

[2021-08-13 19:19] corradoventu commented on #36
I don't see this screen, trying install with ubuntu-desktop-installer  0+git.15f09f4       71 the screens i see during install are in
https://drive.google.com/drive/folders/1tWDTBLfrFKzJFSEfC70t9Uc1SAu0sj4H?usp=sharing
gparted and disk-utility screens for reference.

[2021-08-14 07:50] corradoventu commented on #36
I hope this is the answer you wanted

![Screenshot from 2021-08-14 09-47-04](https://user-images.githubusercontent.com/26655337/129439223-ea3ae8eb-2392-4084-947e-b76a8e7dce72.png)

[2021-08-15 10:05] mwhudson commented on #224
The POST you do to subiquity to request a restart doesn't return until /sbin/reboot has been called. I'm not sure what you mean by "acking the reboot request"?

[2021-08-15 10:22] jpnurmi commented on #224
I didn't dig deeper yet, but I'd guess subiquity never receives the request because the UI exits too soon. Flushing the socket didn't seem to help, though. If subiquity would send a response, the UI would know that the request has been received. Does that make sense?

[2021-08-15 20:46] mwhudson commented on #224
Not really, no :)

The flow in the text mode client is: the user clicks reboot, this starts a POST request to /reboot and sets up the UI to indicate that the reboot has been requested and waits until a response is received, then the client exits. Is there some reason the graphical client can't do this?

[2021-08-16 08:55] jpnurmi commented on #224
Hmm, this is exactly the flow we wanted to have in the GUI too.

The GUI never received a response for /reboot (even before we made it exit). I recall this was a known issue. @dbungert was it you working on it?

[2021-08-16 10:32] kfiresmith commented on #229
Closing out original support case (00317147) since there is a (clumsy) workaround for Ubuntu 20.04.
Opening companion RFE case 00317344 to track longer term so that the original case can be closed.

[2021-08-16 12:59] dbungert commented on #224
u-d-i is not currently sending the /reboot request.
I verified this by MITMing the socket - https://superuser.com/questions/484671/can-i-monitor-a-local-unix-domain-socket-like-tcpdump

@jpnurmi - I have delayed the work on changes to the behavior of reboot until the originally committed roadmap items, all of which are u-d-i related, have been addressed.

[2021-08-16 13:33] jpnurmi commented on #224
Perhaps we could make the UI not exit in live-run mode.

[2021-08-16 13:38] oSoMoN commented on #224
Yes, assuming that it will exit cleanly when being killed by the /reboot request.

[2021-08-16 14:26] iainlane commented on #33
I've been banging on about this for Ubiquity for ages, but I understand it's difficult to change things there and these designs are a porting of what we have in ubi. I really think that encryption (entire disk) must *not* be an advanced feature. It should in fact be something which people are expected to enable, for the protection of their data. @long-chung thoughts?

[2021-08-16 14:47] long-chung commented on #33
@iainlane tbh this is beyond my understanding of requirements, user expectations for Linux. This may need to be escalated further up the chain.
The previous UX designer (MPT) left last year and we haven't had a dedicated person since.

If we were to present the advance features upfront; we could always display the options from the modal in to the main content area. I'm not adverse to the idea.

[2021-08-16 23:37] mwhudson commented on #224
It's certainly hard to be sure what's happening during shutdown, the subiquity server won't return from /reboot until /sbin/reboot has been invoked, so it's all a bit of a race as to whether the response makes it to the socket before everything gets torn down anyway. It also doesn't really make any difference to anything though.

The client not sending the /reboot request does sound like it is exi

[2021-08-17 13:50] kenvandine opened #238 "FDE without LVM"
We should consider supporting full-disk encryption without LVM.  What would be the pros and cons of such a thing?

@iainlane @xnox thoughts?

[2021-08-17 14:02] long-chung commented on #229
We are currently following the existing journey in the current installer.
Designs can be found here:
https://github.com/canonical/ubuntu-desktop-installer/issues/33#issuecomment-899555933
Click the "Design details" link directly under the large thumbnail.

Or direct link to pages and specs can be found here:
https://people.canonical.com/~platform/desktop/installer/8.%20Installation%20Type/

[2021-08-17 14:05] xnox commented on #238
It has been discussed here

https://discourse.ubuntu.com/t/full-disk-encryption-without-lvm-by-default-call-for-comments/18937

[2021-08-17 18:11] kfiresmith commented on #229
Hello @long-chung , I don't understand what that means.  Are you saying that this aspect is feature frozen and no further improvements will be considered?

[2021-08-18 07:41] jpnurmi commented on #224
Leaving this open until RST and BitLocker have been fixed (https://github.com/canonical/ubuntu-desktop-installer/pull/233#issuecomment-900635639).

[2021-08-18 08:00] long-chung commented on #229
Hi @kfiresmith, in terms of features I believe so. That's not to say we can't improve the UI or move some things around. We're currently discussing making encryption more discoverable but there are some technical discussions that need to be worked out. @kenvandine may be able to shed more light on this matter.

[2021-08-18 15:35] oSoMoN opened #241 "Regression: translations not loaded on Welcome screen"
This seems to be a fairly recent regression (although I only noticed it yesterday): when running the installer from a git checkout on a system where the default locale is fr_FR.UTF-8, the language selected by default on the Welcome screen is French (as expected), but UI elements aren't translated in French until I click again on the "French" entry in the list.

![screenshot](https://user-images.gi

[2021-08-19 12:50] jpnurmi commented on #158
The description for "Mount `/etc/fstab`" is incomplete:

![125324400-2ac68f00-e340-11eb-94a0-6245efe8091c](https://user-images.githubusercontent.com/140617/130071025-35eff26b-2d16-48b1-9596-cc9ba0beadad.png)

[2021-08-19 13:10] oSoMoN commented on #241
The regression was caused by https://github.com/canonical/ubuntu-desktop-installer/commit/b68d9b922f45b265017fc4fff94bf66155a05963.

[2021-08-19 13:39] oSoMoN commented on #241
In `setupAppLocalizations()`, on my system `Intl.systemLocale`'s value is `fr_UTF-8_FR`. The call to `Intl.shortLocale()` in `Settings.dart` reduces it to `fr`, for which there aren't translations, because the commit mentioned above moved the French translations to `fr_FR`.

On the other hand, using the `fr_UTF-8_FR` value with the `Locale` constructor doesn't result in a valid locale, because the

[2021-08-19 14:07] jpnurmi commented on #241
Is it Intl that formats it like that? What are the values of Platform.localeName and LANG?

[2021-08-19 14:15] oSoMoN commented on #241
`Platform.localeName` returns that value (`fr_UTF-8_FR`), whereas LANG is `fr_FR.UTF-8`.

[2021-08-19 14:20] jpnurmi commented on #241
Strange, Dart isn't supposed to mess with the value like that:

https://github.com/dart-lang/sdk/blob/master/runtime/bin/platform_linux.cc#L127

[2021-08-19 14:56] oSoMoN commented on #241
This is indeed very strange, but I confirmed that running with various values for LANG and printing the value of `Platform.localeName`, it always get reformatted to `[langcode]_[encoding]_[countrycode]`, e.g. `es_UTF-8_AR`.

@jpnurmi could you test this on your end and let me know if you're seeing something different?

[2021-08-19 15:12] jpnurmi commented on #241
It must have something to do with Flutter because a plain Dart app doesn't seem to touch it at all.

[code]

[code]

When I run the same with Flutter, I keep getting `en_US` no matter what I specify in `LANG`...

[code]

[code]

<details><summary>locale -a</summary>

[code]
</details>

[2021-08-19 15:14] jpnurmi commented on #241
Oh, and with something bogus I get a warning from GTK:
[code]

[2021-08-19 15:50] oSoMoN commented on #241
That format ([langcode]\_[encoding]\_[countrycode]) corresponds to the output of the [`Locale.toString()`](https://api.flutter.dev/flutter/dart-ui/Locale/toString.html) method.

It is also the input format expected by [`LocaleInfo.fromString()`](https://github.com/flutter/flutter/blob/master/dev/tools/localization/localizations_utils.dart#L31), but I'm not sure what to make of that.

[2021-08-19 16:29] oSoMoN commented on #241
Looking at the flutter engine's implementation, in [`platform_impl.dart`](https://github.com/dart-lang/sdk/blob/master/sdk/lib/io/platform_impl.dart#L40), `localeName()` calls a `_localeClosure()` function if it's not null.
In [`platform_dispatcher.dart`](https://github.com/flutter/engine/blob/master/lib/ui/platform_dispatcher.dart#L725), `_localeClosure` is defined like this:

    String _localeC

[2021-08-20 07:26] jibel commented on #158
On 19/08/2021 14:50, J-P Nurmi wrote:

It's an excerpt from the man page:

"The file fstab contains descriptive information about the filesystems
the system can mount."

[2021-08-20 08:40] jpnurmi commented on #241
The list of available locales (`PlatformConfiguration.locales`) is sent from the platform shell. For Linux, it's populated with values parsed from `g_get_language_names()`. Flutter simply picks the first one on the list.

https://github.com/flutter/engine/blob/master/shell/platform/linux/fl_engine.cc#L99

I had to set LANGUAGE instead of LANG to get the values I wanted to test. For example, `LANGU

[2021-08-20 08:55] jpnurmi commented on #241
Does `LANGUAGE` contains `fr.UTF-8_FR`? It doesn't match the expected format: `language[_territory][.codeset][@modifier]`.

The engine parses locales from the end by searching the separators in the expected order (`@` -> `.` -> `_`). If codeset and territory are in reverse order, it includes territory as part of the script code.

- `fr_FR.UTF-8`: lang=fr, country=FR, script=UTF-8
- `fr.UTF-8_FR`:

[2021-08-20 10:07] roylez commented on #229
hi @long-chung, this is not about encryption at all. Most of time people do not need the encrypt their disks but only to put /var, /, or /home into different logical volumes in order to better manage disk space allocation, and with current installer, this is no more possible.

[2021-08-20 13:06] kenvandine commented on #229
Others are advocating that LVM should be deprecated as it's not used much.  We need data to help decide if the investment is worth supporting LVM.  I think the only reason LVM has lasted this long is we have required it for encryption, at least from what I've heard.

[2021-08-20 13:57] kfiresmith commented on #229
Hi @kenvandine.
Coming from an enterprise environment, frankly, that seems just incredible that people within Canonical are so disconnected from what folks are doing within corporate IT environments.

I can completely understand not wanting to bother to support something like LVM if you were more in the business of making a flashy hobbyist OS for home users, but to think that folks are only using

[2021-08-20 14:12] kenvandine commented on #229
To be clear, the new installer wasn't just to write something in Flutter it was more about leveraging more modern technology that would be more flexible going forward.  Things like subiquity, curtin, etc.

I'm not saying we shouldn't support LVM, but we need data to make that decision.  Input from the field is valuable, and we will consider that.

[2021-08-23 13:10] jpnurmi commented on #27
- Do we have any specs for _Repair installation_?
- Does the _Try Ubuntu_ option do anything else besides closing the installer?

[2021-08-24 08:42] jpnurmi opened #250 "Keyboard layout selection does not respect dry-run mode"
`setxkbmap` should not be run in dry-run mode.

[2021-08-24 08:46] jpnurmi commented on #250
Related discussion about calling `setxkbmap` in subiquity: https://github.com/canonical/ubuntu-desktop-installer/pull/154

[2021-08-24 11:44] jpnurmi opened #253 "Minimum window size"
The window doesn't have a minimum size. Should there be some reasonable limit?

![Screenshot from 2021-08-24 13-42-25](https://user-images.githubusercontent.com/140617/130610449-d6437aeb-59b0-46e9-969f-493dbf52a494.png)

[2021-08-24 11:48] jpnurmi commented on #253
@long-chung, any thoughts on this? For reference, the default window size is 960x680.

[2021-08-25 09:20] mwhudson commented on #38
I was thinking about what the subiquity API for this screen should look like. The basic information the installer needs is the territory part of the locale and timezone. The server should presumably also store the lat/long the user clicks so that it can be displayed if the user goes back to the screen.

The UI needs lat/long and timezone for its display, but it also needs to be able to map the pix

[2021-08-25 12:10] jpnurmi commented on #38
We have an interactive map prototype based on:
- [flutter_map](https://pub.dev/packages/flutter_map) (supports offline maps)
- cities15000.txt from libtimezonemap
- http://geoname-lookup.ubuntu.com/

![image](https://user-images.githubusercontent.com/140617/130787575-ee752123-6afa-405a-874f-0387f5a2d22e.png)

[2021-08-25 15:38] jpnurmi opened #261 "Logging"
It would be useful to have logging with configurable levels for the installer UI.

https://pub.dev/packages/logging

[2021-08-26 09:03] jpnurmi opened #262 "Compatibility problem with Flutter dev/master"
`flutter_math_fork`, which is a dependency to `flutter_html`, is broken with the latest Flutter: https://github.com/simpleclub-extended/flutter_math_fork/issues/7

[code]
_Originally posted by @jpnurmi in https://github.com/canonical/ubuntu-desktop-installer/issues/260#issuecomment-906169244_

[2021-08-26 13:15] #262 closed, assigned to nobody

[2021-08-31 08:51] #224 closed

[2021-08-31 09:05] #29 closed

[2021-08-31 18:10] jpnurmi commented on #241
Just to double-check, does the correct language not get loaded on startup with `PlatformDispatcher.instance.locale`?
[code]

[2021-08-31 18:23] jpnurmi commented on #261
Nice idea from Ken: make it possible to show logs in the UI. The log view could be accessible by a shortcut and/or a small subtle indicator somewhere, for example.

[2021-09-01 07:28] #4 closed, assigned to oSoMoN

[2021-09-01 07:30] jpnurmi commented on #13
Fixed by https://github.com/Sub6Resources/flutter_html/pull/572

[2021-09-01 07:30] #13 closed

[2021-09-01 13:59] oSoMoN commented on #261
I like the idea too, but we should make sure that the log view is very easy to discard to go back to the installer itself (I can imagine users invoking the log view by accident, and freaking out because they don't know what happened). This will require design input.

[2021-09-01 15:36] oSoMoN commented on #241
On my system, LANGUAGE is empty, and for reference here is the output of `locale`:

    LANG=fr_FR.UTF-8
    LANGUAGE=
    LC_CTYPE="fr_FR.UTF-8"
    LC_NUMERIC=es_ES.UTF-8
    LC_TIME=es_ES.UTF-8
    LC_COLLATE="fr_FR.UTF-8"
    LC_MONETARY=es_ES.UTF-8
    LC_MESSAGES="fr_FR.UTF-8"
    LC_PAPER=es_ES.UTF-8
    LC_NAME=es_ES.UTF-8
    LC_ADDRESS=es_ES.UTF-8
    LC_TELEPHONE=es_ES.UTF-8
    LC_MEAS

[2021-09-01 16:50] #261 closed

[2021-09-01 20:32] oSoMoN opened #285 "Unhandled LocaleDataException at startup when running with LANG=oc_FR.UTF-8"
`oc_FR.UTF-8` is a valid locale:

    $ grep oc /usr/share/i18n/SUPPORTED
    oc_FR.UTF-8 UTF-8
    oc_FR ISO-8859-1

And we have translations for it, yet running the installer with `LANG` set to `oc_FR.UTF-8` raises an unhandled exception at startup:

    $ LANG=oc_FR.UTF-8 flutter run
    "en": 87 untranslated message(s).
    "es": 87 untranslated message(s).
    "es_ES": 33 untranslated message

[2021-09-02 08:27] jpnurmi opened #288 "Idea: log viewer"
Nice idea from Ken: make it possible to show logs in the UI. The log view could be accessible by a shortcut and/or a small subtle indicator somewhere, for example.

_Originally posted by @jpnurmi in https://github.com/canonical/ubuntu-desktop-installer/issues/261#issuecomment-909488157_

I like the idea too, but we should make sure that the log view is very easy to discard to go back to the instal

[2021-09-02 14:53] jpnurmi commented on #241
The language selection is still not correct. For example:

- add localizations for `fr_CA` (supported locales: `fr`, `fr_CA`, and `fr_FR`)
- run the app with the `fr_FR` locale

Result: `fr_CA` gets selected on startup because the comparison in `WelcomeModel` takes only language codes into account

[2021-09-02 19:06] #285 closed

[2021-09-03 09:54] jpnurmi opened #294 "Cannot write logs - permission denied"
daily -canary 20210902:
[code]

[2021-09-03 10:34] jpnurmi commented on #288
Hi @long-chung, would this be something you could help with later? Probably not a high-priority task. :)

[2021-09-03 10:48] long-chung commented on #288
@jpnurmi Sure, this is something we can look at at some point.
Is the idea for the log to be accessible at any point during the installation process or only when files are being written like the screen shot below?

<img width="669" alt="Screenshot 2021-09-03 at 11 43 29" src="https://user-images.githubusercontent.com/68847062/131993783-64361b2a-0de4-467c-b484-80dc6f35f32e.png">

[2021-09-03 11:00] jpnurmi commented on #288
@long-chung The idea was that this log would be accessible from anywhere. The log contains detailed debug/info/warning/error mostly for troubleshooting purposes. The question is how to access the log - something not too prominent yet discoverable enough?

[2021-09-03 12:44] #241 closed

[2021-09-03 14:05] corradoventu commented on #48
These additional steps may be useful for an expert user (but the expert user can easily customize later) but confusing for a newbie.

[2021-09-06 06:32] Mannshoch commented on #48
That's why I choose the wording accordingly. So people see that is not an important but may interesting task.

[2021-09-06 19:50] Mejans commented on #285
Many thanks!
Do you know why there was an error?
Mercés, gràcia !

[2021-09-13 11:28] jpnurmi commented on #33
Hi @ArishSultan, have you had a chance to look at this?

[2021-09-13 17:45] oSoMoN opened #303 ""Detect keyboard layout" dialog doesn't work as expected"
I'm testing the installer from a local checkout, with a fr_FR.UTF-8 locale, and fr (bépo) keyboard layout (both correctly selected by default).
On the keyboard layout screen, if I click the "Detect keyboard layout" button and then press "n" (which is one of the suggested characters), the following exception is raised, and Turkish is being selected as the keyboard layout. Additionally, keyboard inp

[2021-09-13 18:43] jpnurmi commented on #303
This bug (Alt+TAB -> hot restart -> Alt+TAB) has been there in Flutter for a good while and even landed in the latest stable 2.5.0 release:  https://github.com/flutter/flutter/issues/87391 :(

[2021-09-14 05:26] #155 closed

[2021-09-15 09:12] nmav commented on #229
I believe Kodiak here is indicating that LVM use on the desktop is important to his use-case, and LVM is already used a lot in the enterprise world. Ubuntu also relies on it for disk encryption on desktop, so the word "deprecated" does not accurately reflect the status, especially when there is no replacement. To my knowledge we have enough information today to consider LVM an enterprise use-case.

[2021-09-15 14:24] jpnurmi commented on #33
Hi @ArishSultan, I hope you don't mind but I went ahead and implemented the page: #310. Thanks for offering to contribute to the installer and my apologies for taking over this. Having this page in place enables us to set up the appropriate navigation for guided vs. manual partitioning that is being worked on.

[2021-09-15 16:06] ArishSultan commented on #33
Hi @jpnurmi feel free to take it ahead, unfortunately i have gotten busy with my Masters Degree and Office work, i am not having free time to work on it. I appreciate how much effort you have put on this project.

[2021-09-16 11:12] seb128 opened #316 "Needs to install the packages for the selected language"
The installer needs to make sure the packages needed for the language are correctly installed on the target system.

We have specific squashfses for the default language so for those we probably just give the corresponding squashfs but for non default languages we need to install no-languages and pull in what is needed, which requires to be online.

For reference, it seems ubiquity is handling it

[2021-09-16 11:15] seb128 commented on #316
Unsure what subiquity is doing today in that regard? Should it provide an API we can use to install those? The set of packages is going to be different between a server and a desktop installation though.

[2021-09-16 12:42] Feichtmeier commented on #32
Fixed by #90

[2021-09-16 12:48] jpnurmi commented on #32
Thanks @Feichtmeier :slightly_smiling_face:

For reference, even if it wasn't visible in the screenshot above, it was updated in the specs as suggested: https://people.canonical.com/~platform/desktop/installer/7.%20Turn%20Off%20Secure%20Boot/

[2021-09-16 12:48] #32 closed

[2021-09-16 20:46] kenvandine commented on #229
We'd like to do this for 22.04, once there are designs available we'll post them here.

[2021-09-17 00:05] mwhudson commented on #316
FWIW my thinking is that the server part will handle this with no interaction from the client, and do different things based on either the variant field of the source catalog or we can add more explicit flags to the source catalog if that seems cleaner. Good point around check-language-support, I'd forgotten that I need to look into that.

[2021-09-17 04:18] mwhudson commented on #316
Something like this? https://github.com/mwhudson/subiquity/commit/55e6e41d30a88f328fc7734b47c9f0c2595319a5

[2021-09-17 04:18] mwhudson commented on #316
(there is some support scaffolding to prepare before landing that commit fwiw)

[2021-09-17 13:11] kfiresmith commented on #229
Thanks very much @kenvandine for the update - I look forward to checking out the designs.

Thanks very much @nmav  for the advocacy on this important feature!

[2021-09-17 14:44] jpnurmi opened #319 "The installer often fails to connect on first run right after startup"
Steps (tested with daily-canary 20210916):
- run the latest daily canary
- start the installer as soon as the desktop shows up
- navigate to the keyboard layout page => the list is empty
- restart => the list is populated

[code]

[2021-09-17 14:47] jpnurmi commented on #319
In dry-run mode, the UI waits up to 10s for subiquity to start responding. Is something similar needed in live-run mode too?

[2021-09-20 11:33] jpnurmi commented on #303
The issue has been fixed in the Flutter engine. Presumably, the fix will be cherry-picked to Flutter 2.5.2.

https://github.com/flutter/flutter/issues/87391

[2021-09-20 15:47] jibel opened #323 "Desktop Installer doesn't start if yaru-theme-icon is not installed on the host"
**Description**
The installer crashes with the following error when yaru-theme-icon is not installed on the host system.

[code]

**Test Case**
1. Boot Ubuntu Desktop ISO of Impish
2. Install ubuntu-desktop-installer snap package
3. Run it from the command line with: ubuntu-desktop-installer
=> Verify that it starts successfully
4. Remove the package yaru-theme-icon
5. Run it from the command line

[2021-09-21 11:17] seb128 commented on #323
The error is a bit weird

Gtk:ERROR:../../../../gtk/gtkiconhelper.c:494:ensure_surface_for_gicon: assertion failed (error == NULL): Failed to load /org/gtk/libgtk/icons/16x16/status/image-missing.png: Format d’image non reconnu (gdk-pixbuf-error-quark, 3)

It's like if the gdk png loader was not working?

[2021-09-21 12:03] seb128 commented on #323
The assertion is the one GTK hits when it fails to load the icon for some reason, see https://launchpad.net/bugs/1627564 which is a problem happening on upgrades. What's weird is that GTK includes icon-missing.png as a resource so it should always be available. Unsure if that could be a bug on how flutter sets GTK up though?

[2021-09-21 12:25] seb128 commented on #323
Downgrading libgtk-pixbuf-2.0-0 to the hirsute version workarounds the issue. One change in impish is https://gitlab.gnome.org/GNOME/gdk-pixbuf/-/issues/179 which means the png loader is built-in now and now a shared .so anymore. Loading png icons in GNOME seems to work fine but perhaps that's confusing flutter somehow?

[2021-09-21 12:33] seb128 commented on #323
@robert-ancell would you perhaps have some idea about that one? Don't stop to the title description but it seems there is an issue with fallbacking to the image-missing png in impish, sounds like the new gdk pixbuf could potentially confuse flutter somehow?

[2021-09-21 16:22] fcole90 commented on #32
@jpnurmi in the link you sent, the title is now _Configure secure boot_, but the option still says _Turn off secure boot_. Is it intentional?

[2021-09-21 16:35] jpnurmi commented on #32
@fcole90 Thanks!

Is this how it should be?

Remarks:
- Is it intentional that one occurrence of "Secure Boot" is capitalized?
- Should "Confirm security key" be "Confirm _the_ security key"?
- Should "Software & Updates Settings" be "Software & Updates"?

[2021-09-22 08:09] jpnurmi commented on #32
@long-chung ^^

[2021-09-22 08:39] long-chung commented on #32
@jpnurmi

_Is it intentional that one occurrence of "Secure Boot" is capitalized?_
Sorry error on my part. Secure Boot should always be camel cased when referenced

_Should "Confirm security key" be "Confirm the security key"?_
Yes, lets go with "Confirm the security key"

_Should "Software & Updates Settings" be "Software & Updates"?_
Yes, "Software & Updates" makes sense

[2021-09-22 19:37] seb128 opened #338 "Doesn't generate a default hostname"
The 'who are you' page has an empty hostname value by default, it should probably generate one based on the machine identifier as ubiquity is doing?

Also if you leave the entry empty the 'next' button is not active but it doesn't mark it '... is required' as it does for the username

[2021-09-23 06:46] jpnurmi commented on #338
Where's the best place for specifying the default values? subiquity, UI, both?

The default identity data is already queried from subiquity when entering the _Who are you_ page, so the form gets filled if subiquity provides non-empty defaults. We can specify or generate some default values in the UI too if preferred.

/cc @mwhudson @dbungert

[2021-09-23 07:01] jpnurmi commented on #338
I just tried Ubiquity and I can see now that it doesn't have any values by default either. I'll adopt the same behavior.

@long-chung What do you think about visualizing required form fields, which is pretty common on the web. It would make the initial empty state more clear at a glance by giving a strong hint about which fields must be filled up before they can continue.

![Screenshot from 2021-0

[2021-09-23 08:22] seb128 commented on #338
Yes, sorry that was unclear, the behaviour in ubiquity is that the entry is empty but when you start typing an username it will autogenerate an hostname default in entry using the model 'username-machine-identifier'

[2021-09-23 09:59] Feichtmeier opened #340 "WizardPage: incorrect AppBar text theme"
![Peek 2021-09-23 11-23](https://user-images.githubusercontent.com/15329494/134488162-70ca4fed-53ae-4b69-8b4d-479edaf87fbb.gif)

The AppBar theme is not correctly taken from yaru.
Which does not happen with other apps using yaru
![grafik](https://user-images.githubusercontent.com/15329494/134489073-f602d8dd-eafb-402b-9800-40458d3b6a38.png)

[2021-09-23 10:19] jpnurmi commented on #340
Looks fine here and I've never seen this problem before... Are there any special steps that could help us to reproduce the problem? Also, could you paste the output of `flutter doctor -v`, please?

[2021-09-23 10:21] Feichtmeier commented on #340
It's a fresh ubuntu 21.10 VM with freshly installed flutter desktop from beta
[code]

[2021-09-23 10:24] jpnurmi commented on #340
20210922? daily-live or daily-canary?

[2021-09-23 10:25] jpnurmi commented on #340
Could you try the master channel of Flutter while I download & install? :slightly_smiling_face:

[code]

[2021-09-23 10:35] Feichtmeier commented on #340
Okay, the VM image is from 10.9. but I just installed flutter today from beta

![grafik](https://user-images.githubusercontent.com/15329494/134491821-c506170a-e7f6-4c6f-bc02-416aa685adcd.png)

Installing from master now with the commands you posted above needed to upgrade though
and you are right, no probs with master version and main branch
![grafik](https://user-images.githubusercontent.com/1532

[2021-09-23 10:37] Feichtmeier commented on #340
I think you can close both the issue and the PR then :+1:

[2021-09-23 10:44] jpnurmi commented on #340
I believe the snap package provides the version of Flutter that was the latest stable when the snap package was published. The versions and channels of the snap package vs. Flutter are otherwise not connected.

[2021-09-23 10:45] #340 closed

[2021-09-23 10:45] Feichtmeier commented on #340
I meant I was using the beta flutter channel - yes snap and flutter channels are not connected :electric_plug: :)

[2021-09-23 10:47] jpnurmi commented on #340
Apparently, one should always run `flutter upgrade` after installing the Flutter snap. :) Or re-publish it after every stable release if that's how it works.

[2021-09-23 10:49] Feichtmeier commented on #340
ran upgrade, but maybe it was some cache issue in vscode, since I always use the 'run' label above the main signature - sorry for robbing your lifetime thinking about this - kinda funny that flutter had some appbar theme change in the versions :D

[2021-09-23 10:52] jpnurmi commented on #340
No worries! It may help to run `flutter clean` after switching versions.

[2021-09-23 11:10] seb128 commented on #316
It should work but the apt-cache/dpkg-query filtering feels a bit hackish, wouldn't apt just ignore packages already installed and if so do we need to filter those out?

Also checking if the package to install is available, shouldn't that be done in the place which issue the install call? The probably is not specific to the language support, other models returns packages which could also end up no

[2021-09-23 21:02] oSoMoN opened #343 "Keyboard navigation doesn't work as expected in list views"
I'm testing the desktop installer without a mouse, and keyboard navigation doesn't work as I'd expect: when I press tab in a list view, I would expect the next UI element (e.g. the "Next" button on the welcome screen) to become focused, instead tab goes through all the elements in the list view, before jumping to the next button.

This isn't so bad on the welcome screen because the list of languag

[2021-09-24 07:07] jibel commented on #156
The "real name" is actually missing from this page. It is a required field.

[2021-09-24 07:12] jpnurmi commented on #156
Ok, let's add that right away

[2021-09-24 07:14] jibel commented on #157
This page must be preloaded with the default values.

[2021-09-24 08:32] jpnurmi commented on #157
The UI is asking for the values from subiquity when entering the screen. Should we specify some defaults in the UI instead?

[2021-09-24 09:16] jibel commented on #157
Right, it must get the values from subiquity. We'll have a look to check if GET returns really what is expected

[2021-09-24 09:21] jpnurmi commented on #157
Actually, the default value of the mount location field will be fixed by https://github.com/canonical/ubuntu-desktop-installer/pull/345 because there's a fix to our "validated input field" included.

[2021-09-24 11:02] jpnurmi opened #347 "Share validated fields between Who are you page and WSL profile setup"
The two pages were developed in parallel and there were issues sharing translations. We have now the infrastructure for shared translations in `ubuntu_wizard` so we should consider sharing as much of these as possible.

[2021-09-24 14:07] #156 closed

[2021-09-28 06:09] jpnurmi opened #355 "Add more logging"
We have a logging system in place, but it's not utilized much yet. All noteworthy events should be logged. View models typically have some sort of 1) init/load something, 2) select something, and 3) apply/save something methods. These would be good candidates for logging.

A snippet from an earlier discussion:

[2021-09-28 08:11] jpnurmi opened #362 "Who are you page: login strategy is not stored anywhere"
On the _Who are you?_ page, the user can select between the following options:
- _Log in automatically_
- _Require my password to log in_

This information is never passed to subiquity or stored anywhere.

[2021-09-28 08:18] jpnurmi commented on #294
Fix verified on daily-canary 20210927.1.

[code]

[2021-09-28 08:30] jpnurmi opened #363 "Welcome page reloads the same keyboard layouts on every language change"
There is no `SubiquityClient.setLocale()` call between loading keyboard layouts.

From `KeyboardService.load()` docs:

Steps to reproduce:
- Cherry-pick #356
- Select languages on the welcome page
- Observe the output

Example output:
[code]

The locale is not set until pressing `Continue`:
[code]

[2021-09-28 08:32] jpnurmi commented on #363
Why are we loading keyboard layouts on the welcome page, anyway? Shouldn't the layouts be loaded when entering the keyboard layout page? :thinking:

[2021-09-28 10:11] oSoMoN opened #364 "subiquity server fails to start in local dev environment"
This is a regression caused by https://github.com/canonical/ubuntu-desktop-installer/commit/5c5a97c2d00464133adc0beab6e2f041f5b562c3.

When I try to run the installer app locally, subiquity runs with python3 from the flutter snap:

    Traceback (most recent call last):
      File "/snap/flutter/current/usr/lib/python3.6/runpy.py", line 193, in _run_module_as_main
        "__main__", mod_spec)

[2021-09-28 12:16] didrocks commented on #364
As said online, we want to have the snap not dependent on system libs, this is why we changed it to point to the one is the SNAP.
there were many issues in the way this is currently implemented (hardcoding system python)
-> this is first using the system libs, and you can have a mismatch between python 3.8 and 3.9, where not all python packages are
(basically, we got the opposite issue in WSL -> n

[2021-09-28 12:37] jpnurmi commented on #364
As far as I can tell, the issue is specific to running the desktop installer with flutter-snap in dev environment. There's `python3(.6)` in `/snap/flutter/current/usr/bin`, and when running with flutter-snap,`/snap/flutter/current/bin` gets prepended to `PATH`.

[2021-09-28 12:47] jpnurmi commented on #364
When you build ubuntu-desktop-installer snap, there's `python3(.8)` and `python3-aiohttp` in the snap.

[2021-09-28 12:49] didrocks commented on #364
I guess you need to define one which version. Is it a version of dev environment has the flutter PATH before the local one? Should it have the python3 -> python3.8 with correct PYTHONPATH from the local version instead of the flutter snap one?

[2021-09-28 13:02] jpnurmi commented on #364
### Flutter vanilla in development environment (OK)
- If I install Flutter from flutter.dev and run `flutter run` with that, Flutter doesn't touch `PATH` so ubuntu-desktop-installer runs whatever `python3` is in my system
- The appropriate dependencies e.g. aiohttp have been installed by the `installdeps.sh` script in subiquity

### Flutter snap in development environment (NOT OK)
- If I install F

[2021-09-28 13:06] jpnurmi commented on #364
One possible solution would be to add `SubiquityServer._pythonCommand` (on the side of the already existing _pythonModule) and define it as `python3` for WSL and keep it `/usr/bin/python3` for the desktop installer.

[2021-09-28 13:27] didrocks commented on #364
It sounds to me that the desktop installer vs WSL is the wrong split. Isn’t the split rather the one you did above?
* dev with flutter dev environment
* dev with flutter snap dev environment
* production

As 1 and 3 are working, I would suggest that we try fixing the flutter snap which sounds wrong to override $PATH with everything it has in it, rather than making the code aware where to look for

[2021-09-28 14:09] jpnurmi commented on #364
Sounds good if it's possible to fix this in the flutter snap instead.

[2021-09-28 18:44] dbungert opened #368 "Multiple copies of the UI can be opened"
If you keep double clicking the Install icon on the desktop, you'll keep getting new copies of the UI.

[2021-09-29 06:50] jpnurmi commented on #347
The validation logic in `WhoAreYouModel` and `ProfileSetupModel` should be shared too.

[2021-09-29 09:31] #338 closed

[2021-09-29 09:34] seb128 opened #372 "ubuntu report integration"
Ubiquity currently collects metrics about the installation which are optionally submitted as part of the first login wizard, the new installer should do something similar

The project used to collect the data is https://github.com/ubuntu/ubuntu-report/

For reference that was the changeset adding the feature to ubiquity
https://code.launchpad.net/~didrocks/ubiquity/intall-metrics/+merge/341229

[2021-09-29 14:11] jpnurmi opened #373 "Hide or disable unimplemented UI elements"
- [ ] repair ubuntu
- [ ] download third-party checkbox
- [ ] advanced options for guided partitioning

[2021-09-29 18:49] jpnurmi opened #376 "Reduce app bundle size"
Starting point:
[code]

Assets:
[code]

[2021-09-29 18:53] jpnurmi commented on #376
Large fallback fonts in yaru.dart were removed: https://github.com/ubuntu/yaru.dart/issues/97

Current status:
[code]

Assets:
[code]

[2021-09-29 19:00] jpnurmi commented on #376
Idea: The HTML package has many dependencies including a video player and a math formula renderer. What if we replaced HTML with markdown?

Result: (~3mb)
[code]

Assets:
[code]

[2021-09-29 19:05] jpnurmi commented on #376
A better breakdown of the assets:
- 2.9M Yaru fonts
- 1.3M Material icons (Flutter, built-in)
- 0.8M ICU (Flutter, built-in)
- 0.5M Dictionary for password strength
- 0.3M Cupertino icons (indirect dependency of multiple packages)

[2021-09-30 10:15] seb128 opened #377 "Doesn't install the squashfs adapted to the language selected"
Using the current ISO, selecting french and doing a normal installation results in a target system including the default language packs from the ISO. Is that because we install minimal.standard instead of minimal.standard.fr?

Doing an installation with a language which isn't included on the ISO should also probably target minimal.standard.no-languages and then pull the corresponding langpack from

[2021-09-30 17:46] mwhudson commented on #377
I have a plan for this in subiquity fwiw, should get to it early next week
I hope.

[2021-09-30 18:40] seb128 opened #378 "splash isn't added to the default kernel options"
Doing an installation with ubiquity results in having

GRUB_CMDLINE_LINUX_DEFAULT="quiet splash"

but that's not the case with the new installer and as a result we have a textmode start instead of a nice plymouth graphical theme

[2021-10-05 05:28] mwhudson commented on #377
https://github.com/canonical/subiquity/pull/1077

[2021-10-05 14:47] seb128 opened #388 "Doesn't preselect a keyboard matching the language"
On the current canary, if you pick french on the first screen the keyboard page still opens with english as selected, it should try to select the layout corresponding to the language like ubiquity is doing

[2021-10-05 14:49] seb128 opened #389 "Default sources.list isn't using the local mirror"
Doing a canary installation the sources.list uses archive.ubuntu.com and not the local mirror as ubiquity is doing

[2021-10-05 15:50] seb128 opened #390 "Generated hostname not based on the machine?"
Doing an installation using canary the hostname generated is -ubuntu which using ubiquity is a more unique identify PC-QR35-.... which seems based on the hardware somehow?

[2021-10-06 06:58] seb128 commented on #389
Thanks for the comment, since we don't have a step to connect at the moment I just went through with an offline installation which might explain, I need to check what ubiquity is doing in those cases, it would probably make sense to use a mirror corresponding to the selected timezone if we have the available data on the ISO? (not that we have a timezone selection at the moment...)

[2021-10-06 10:03] seb128 commented on #378
It has been ffxed on today's ISO by https://bazaar.launchpad.net/~ubuntu-cdimage/debian-cd/ubuntu/revision/2127

[2021-10-06 10:03] #378 closed

[2021-10-06 10:05] seb128 opened #397 "Wrong locale set on the installed system"
Using today's canary image to do a french installation results in a system having /etc/default/locale LANG=fr_FR.UTF-8 and the french langpacks installed but LC_* are set to C.UTF-8

[2021-10-06 10:08] seb128 opened #398 "Wrong timezone used"
Doing an installation with today's canary image while being in the Netherlands the target system has a timezone set on Etc/UTC. The sources.list uses the nl. mirror so geoip worked. We don't have a tz selection page yet but wasn't subiquity supposed to do the right thing for us there?

The log includes

unsure if that's the issue?

[2021-10-06 13:24] seb128 commented on #397
Updating the description, when picking netherlands it works so it's probably an issue in the case we use a squashfs rather than installing the language-packs

[2021-10-06 13:29] seb128 opened #400 "The list of available languages is restricted"
The list is currently only including 8 entries, it seems it's the languages we have translations for? We should probably resolve that limitation for impish, subiquity is capable to install the right langpacks now and it's going to be a limiting factor for users in most countries

[2021-10-06 13:32] seb128 opened #401 "Don't restrict the languages to the available translations"
We current have a limited set of translations but are able to install any langpack available so we shouldn't limit the choice on the first screen

[2021-10-07 08:23] jpnurmi opened #402 "CI: open PRs for changes in generated files"
_Originally posted by @didrocks in https://github.com/canonical/ubuntu-desktop-installer/issues/395#issuecomment-937531109_

[2021-10-08 08:30] jpnurmi commented on #373
The two first items are not yet in the mainline but they have been done in the storage branch.

[2021-10-08 11:27] seb128 commented on #401
The subiquity list is quite limite as well though, no italian, turkish, portugues, japanese, arabic, ...

@subiquity maintainers, is your languagelist limited by design or should those be added?

[2021-10-08 13:55] jpnurmi opened #412 "Sync client data classes with Subiquity's"
All fields in `subiquity_client/lib/src/types.dart` are nullable types. These should be synced with `subiquity/common/types.py`.

Using nullable types for fields that cannot be null in subiquity
a) gives a false sense of safety in the UI because they cannot be null in subiquity so it will throw when passing null defaults, and
b) clutters the UI code with unnecessary null-aware operators and repeat

[2021-10-08 14:05] seb128 commented on #362
I've opened a subiquity request to add a backend for that on https://bugs.launchpad.net/subiquity/+bug/1946490

[2021-10-08 14:09] seb128 opened #413 "The third party driver option is not working"
We disabled the option for impish but we will need it back next cycle. It should handle installing binary drivers (nvidia, wifi, ...) and codecs

[2021-10-08 14:21] seb128 opened #414 "Should start the installer screen by default"
Technically that's a livecd build integration change but the default experience should be to start the installer and not the live session by default, then we need to restore the repair/try/install screen and make it do the right thing

[2021-10-08 14:27] seb128 commented on #41
subiquity is going to need to help with backend work there right? ubiquity is using pam-auth-update on the target env in addition of using realm

[2021-10-08 14:35] jpnurmi opened #415 "Disk model and vendor names from subiquity"
Currently, the UI looks up disk model and vendor names using libudev. However, local devices typically don't match with dry-run devices.

Even though this is only a development time/dry-run mode problem, it would be nice if subiquity would provide that information in `Disk` objects, so we could get rid of the libudev FFI-bindings (unless it's needed for network devices later).

The values should p

[2021-10-08 14:47] seb128 opened #416 "Option to turn on LVM"
We are not going to have that one working in impish but next cycle probably? Is subiquity providing what we need already?

[2021-10-08 14:48] seb128 opened #417 "ZFS partitioning option"
Do we want the ZFS option in the new installer? If so do we need subiquity to zsys integration?

[2021-10-08 17:19] dbungert commented on #401
Language selection is two things
* what language should the installer run in?
* what language should the target system be configured for?

For the former, a fixed set of languages makes sense - we have the translations we have.  For the latter, any valid value should be possible.  See also @mwhudson's desired locale overhaul.

[2021-10-12 15:26] jpnurmi opened #428 "Existing OS installations"
A list of existing OS installations is needed for the installation type screen:

![image](https://user-images.githubusercontent.com/140617/136984834-784643fd-3d66-4a6b-932c-ab03b23a683c.png)

https://github.com/canonical/ubuntu-desktop-installer/issues/33

[2021-10-12 16:14] #5 closed

[2021-10-13 13:47] long-chung commented on #401
@oSoMoN I think it is what it is. The message would have to be in English(?) anyway so defeats the purpose.
I think we should just display the available languages we do have as this would be updated later in subsequent releases?

[2021-10-14 08:10] jpnurmi commented on #343
I have reported a bunch of focus traversal issues to Flutter:
  - [Cannot tab out from a long ListView](https://github.com/flutter/flutter/issues/91748)
  - [Directional focus traversal stops working after scrolling ListView](https://github.com/flutter/flutter/issues/91741)
  - [Focus traverses cached offscreen ListView items](https://github.com/flutter/flutter/issues/91795)
  - [Tab focus travers

[2021-10-14 10:46] jpnurmi opened #431 "Missing information in wsl.conf"
- There is no "realname" field in `wsl.conf`
- `wsl.conf` is not written at all if the GUI posts a request to `/identity` alone. If "Show advanced options" is not selected in the GUI, there is no request to `/wslconfxxx` and thus, the username is not stored to `wsl.conf` even though `/identity` was posted.

Both issues found in dry-run mode while working on the integration test: https://github.com

[2021-10-15 08:26] jpnurmi commented on #431
### No advanced options -> no `wsl.conf`

#### All subiquity requests from the UI
- `POST /meta/client_variant` (startup)
- `POST /meta/mark_configured` (startup)
- `POST /locale` (select language)
- `GET /identity` (enter profile setup)
- `POST /identity` (leave profile setup)
- `GET /identity` (enter setup complete)

#### Contents of `.subiquity`
[code]

#### The respective UI flow

https://user

[2021-10-15 08:31] jpnurmi commented on #431
### Advanced options -> `wsl.conf` is ok

#### All subiquity requests from the UI

- `POST /meta/client_variant` (startup)
- `POST /meta/mark_configured` (startup)
- `POST /locale` (leave select language)
- `GET /identity` (enter profile setup)
- `POST /identity` (leave profile setup)
- `GET /wslconfbase` (enter advanced options)
- `POST /wslconfbase` (leave advanced options)
- `GET /identity` (en

[2021-10-15 08:45] jpnurmi commented on #431
systemsetup-server-debug.log:
[code]

[2021-10-19 14:45] jpnurmi opened #440 "Report required disk space"
The installer needs something similar to Ubiquity, which has at least the following checks for available disk space.

### Updates and other software

When entering the page, before selecting anything:

![updates_and_other_software](https://user-images.githubusercontent.com/140617/137932986-0aae0610-b87d-4536-9a13-65a071810782.png)

### Manual partitioning

After creating partitions, when clicking

[2021-10-21 10:29] #431 closed

[2021-10-26 16:07] dbungert opened #447 "units displayed are inconsistent with the Units Policy"
https://wiki.ubuntu.com/UnitsPolicy

We appear to be using SI standard unit labels with base-2 units.
Let's update things so that we are consistent with the policy.

Example: a partition of 40000028672 bytes is displayed as having size "37GB" - by this policy that size when rounded would be "40GB" or "37GiB"

[2021-10-27 09:25] seb128 opened #449 "Installation fails without explanation on apt download errors"
We had a few reports of installation failing which after reading the curtin log turned out to be due to apt failing to download packages. Ideally we would be robust to flaky internet but if not we should at least try a way to display a proper error dialog explaining the reason

[2021-10-28 18:12] seb128 opened #452 "Shouldn't hardcode Ubuntu in strings"
Checking the translations template there are a bunch of strings that mention 'Ubuntu', examples

- Use LVM with the new Ubuntu installation
- Encrypt the new Ubuntu installation for security
- Erase disk and install Ubuntu

Ubiquity has a variable for those, it's not important for now but it will useful as flavor start using the new installer

[2021-10-29 07:36] seb128 opened #453 "Incorrect keyboard navigation on lists"
Unsure if that's a flutter issue or an installer one.

On the welcome screen for example, using the TAB key the focus moves to the next item in the languagelist. The traditional behaviour would be to have TAB switching to the next widget, so the next button

On the keyboard layout screen, TAB alternate between the lists by moving to the next items

[2021-10-29 08:09] #453 closed, assigned to nobody

[2021-10-29 09:37] jpnurmi opened #455 "Prevent closing the window during installation"
The window close button in the header bar should be removed to avoid closing (and re-opening) the installer while subiquity is busy applying changes. (Ubiquity removes the close button too.)

Originally reported by @guiverc at https://discourse.ubuntu.com/t/new-desktop-installer-preview-build/24765/14

[2021-11-01 07:38] BioHazard1282 opened #458 "Unable to run in Ubuntu 21.10 on Lenovo Thinkpad T580, Intel i5"
[code]

[2021-11-01 08:08] jpnurmi commented on #458
Hi, this was fixed by https://github.com/canonical/flutter-snap/pull/58. Could you try to refresh the Flutter snap?

[2021-11-01 14:38] jpnurmi opened #459 "Missing changes on the "Write changes to disk" page"
Originally reported at https://discourse.ubuntu.com/t/refreshing-the-ubuntu-desktop-installer/20659/74

According to the logs, the disk and all partitions had `preserve: true` which is why no changes were shown in the UI.

The final storage config looks like this:
[code]

[2021-11-01 16:16] BioHazard1282 commented on #458
How do I do that?

[2021-11-01 16:17] jpnurmi commented on #458
`snap refresh flutter`

[2021-11-01 16:19] BioHazard1282 commented on #458
Did that, so am I able to start the desktop installer now? :3

*----------------------------------------------*
*Floofy Wolf (BioHazard)*
*Senior at High School*
*Computer and Calculator programmer*

***@***.*** ***@***.***>*
*c3-productions.github.io <http://c3-productions.github.io/>*

On Mon, Nov 1, 2021 at 10:17 AM J-P Nurmi ***@***.***> wrote:

[2021-11-02 08:41] jpnurmi commented on #319
Reopening because the issue probably still exists as reported by @guiverc [on Discourse](https://discourse.ubuntu.com/t/new-desktop-installer-preview-build/24765/16?u=jpnurmi). With daily canary 2021-11-01:

[2021-11-02 23:15] dbungert commented on #319
I ran into the same thing with automated API testing, and when I run several tests in parallel I can hit the longer end of the poll time.  Here's what I did to address it for API test:
[code]

[2021-11-03 13:10] jpnurmi opened #465 "flutter_localizations does not support all installer languages"
There are a few languages (Cymraeg, Esperanto, ...) that cause Flutter to throw an exception because [`MaterialLocalizations`](https://api.flutter.dev/flutter/flutter_localizations/flutter_localizations-library.html) doesn't support all languages that the installer's `AppLocalizations` includes:

![Screenshot from 2021-11-03 14-07-21](https://user-images.githubusercontent.com/140617/140065706-f973

[2021-11-03 13:25] oSoMoN commented on #465
For those we'll need to do the same as for Occitan, i.e. implement a suitable `MaterialLocalization` and a `LocalizationsDelegate` (see https://github.com/canonical/ubuntu-desktop-installer/blob/main/packages/ubuntu_wizard/lib/l10n.dart#L119).

[2021-11-04 13:04] didrocks opened #468 "When running WSL OOBE on an already setup system, u-d-i is in setup mode, not reconfigure"
The TUI is correctly showing up the reconfigure path.

The GUI though, is always running in setup mode and doesn’t use the mode returned by the backend. The GUI needs to do a GET on client_variant endpoint.

[2021-11-04 13:05] jibel opened #469 "User can go back on first step"
**Description**
On first step of the installer, it it possible under certain conditions to go back, which leads to a blank page

**Test Case**
1. Launch the installer
2. Select a language
3. Click on next
4. Click on back twice

**Actual result**
The installer displays a blank page

**Expected result**
The go back button is greyed and the user cannot go back.

[2021-11-04 16:32] jpnurmi commented on #468
Yeah, there must have been a misunderstanding because the UI expects a `--reconfigure` command-line argument.

[2021-11-04 16:33] didrocks commented on #468
yeah, basically this is the daemon which is running on the target (you can imagine the client being somewhere else :)), so this is the decision factor. Also, it avoids logic duplication between the GUI and TUI (we already have enough of them :p)

Sorry for the misunderstanding.

[2021-11-04 17:01] jpnurmi commented on #468
No worries, it's ok! :) I'll take a look

[2021-11-05 17:55] #468 closed

[2021-11-08 08:00] jpnurmi opened #477 "Subiquity symlinks"
There are several symlinks to Subiquity in the project tree:
[code]
The purpose of these symlinks is to be able to start Subiquity and resolve the socket path in dry-run mode. We should find a better way to locate Subiquity because the symlinks are causing problems for remote snap builds and any installer flavors would also have to duplicate them.

[2021-11-08 15:09] jpnurmi commented on #447
On a related note, we need to be able to translate unit labels.

Currently, human-readable file sizes are provided by the [filesize](https://pub.dev/documentation/filesize/latest/filesize/filesize.html) package, which mixes hard-coded SI standard unit labels with base-2 units. :eyes:

[2021-11-08 15:12] jpnurmi commented on #447
The implementation of the [data_size](https://pub.dev/packages/data_size) package looks better but it has hardcoded labels too.

[2021-11-08 18:34] Mejans commented on #465
Many thanks @oSoMoN for this by the way ;)

[2021-11-09 09:08] seb128 opened #483 "Should the theme selection titles be changed?"
It was pointed on by translators on https://hosted.weblate.org/translate/ubuntu-desktop-installer/ubuntu-desktop-installer/en/?checksum=c6aef533d958e29d#comments

[2021-11-09 09:34] jpnurmi commented on #483
I'd be in favor of removing the page altogether. It would be a better fit for a first-run wizard.

[2021-11-09 09:45] jpnurmi commented on #483
Alternatively, make it a toggle somewhere in the corner to make it available right away in the beginning. Currently, theme selection comes pretty late in the wizard, when the user is almost done, and dark theme lovers have already hurt their eyes. :sunglasses:

[2021-11-09 09:59] jpnurmi commented on #483
One more point for discussion:

[2021-11-09 10:00] yarons commented on #483
I put a lot of effort into translating this to Hebrew, I think that the best solution would be adding the "formal" string as a comment and allow the translators to choose their flavors, I find it very poetic.

[2021-11-09 10:08] Muqtxdir commented on #483
I agree with this and moreover the opted theme preference is not remembered after install so the purpose of page is not achieved.

regarding the description of optioncards for translation s @Feichtmeier could add more to this since he implemented this page

[2021-11-09 10:39] Feichtmeier commented on #483
A simple toggle could be enough like in the first section here

![](https://cdn.discordapp.com/attachments/860793709912915988/906213513800867850/unknown.png)

![](https://cdn.discordapp.com/attachments/860793709912915988/906213425695297586/unknown.png)

[2021-11-09 14:32] #390 closed

[2021-11-09 15:28] jpnurmi commented on #30
Short summary of a discussion with @long-chung:
- the page is not skipped even when already online
- the active/primary connection is pre-selected when entering the page
- ethernet is selectable only when there's an active ethernet connection
- when ethernet is selected, the button says "continue"

[2021-11-09 16:29] seb128 commented on #401
The recent update resolve the issue described there I think, let's close it now

[2021-11-09 16:29] #401 closed

[2021-11-09 17:49] jpnurmi opened #486 "Fix inconsistent placeholders in translation strings"
There are some inconsistencies in translation placeholders inherited from Ubiquity. For example, `{RELEASE}` and `{DISTRO}` refer to the same thing - the default value is 'Ubuntu' for both. These should be fixed when the situation with translations has calmed down.

_Originally posted by @oSoMoN in https://github.com/canonical/ubuntu-desktop-installer/issues/485#issuecomment-964366975_

[2021-11-09 21:33] #452 closed

[2021-11-10 07:53] seb128 commented on #486
The easiest way to avoid extra work for the translators is probably to let them re-import the ubiquity strings and then sed the translations in git as we change the source

[2021-11-10 11:56] #402 closed

[2021-11-10 16:56] jpnurmi commented on #469
Fixed by #438

[2021-11-10 16:56] #469 closed

[2021-11-11 02:10] lucaszanella opened #491 "screenshots"
was just curious, have no time to test, but wanted to look how it looks like

thanks bye and sorry

[2021-11-11 02:10] #491 closed

[2021-11-11 08:06] #455 closed

[2021-11-11 10:04] jpnurmi commented on #458
Was the issue resolved?

[2021-11-11 12:09] jpnurmi commented on #465
In addition to oc, MaterialLocalizations is missing for:
- cy (Welsh;Cymraeg)
- eo (Esperanto;Esperanto)
- ga (Irish;Gaeilge)
- ku (Kurdish;Kurdî)
- nn_NO (Norwegian Nynorsk;Norsk nynorsk)
- se_NO (Northern Sami;Sámegillii)
- tg (Tajik;Тоҷикӣ)
- ug (Uyghur;ئۇيغۇرچە)
- bo (Tibetan;བོད་ཡིག)
- dz (Dzongkha;རྫོང་ཁ)

[2021-11-11 12:11] jpnurmi commented on #465
Out of these, the intl package has built-in support for cy and ga:
[code]

[2021-11-11 13:52] jpnurmi commented on #465
At first, it looks somewhat straightforward when you start reading the [Adding support for a new language](https://flutter.dev/docs/development/accessibility-and-localization/internationalization#adding-support-for-a-new-language) section in the Flutter docs. Then, you notice that `nnLocaleDatePatterns` and `nnDateSymbols` are just stubs. It starts getting more interesting when looking at the comp

[2021-11-11 15:08] BioHazard1282 commented on #458
No, I just kinda gave up on it XD

[2021-11-11 15:13] jpnurmi commented on #458
Could you give it one more try with `snap refresh --edge flutter` (notice --edge) and then `flutter run --verbose` please?

[2021-11-11 15:21] BioHazard1282 commented on #458
[verbose.txt](https://github.com/canonical/ubuntu-desktop-installer/files/7521425/verbose.txt)

[2021-11-11 15:23] BioHazard1282 commented on #458
It worked when I refreshed the snap for flutter edge, The Keyboard Layout section was blank.

[2021-11-11 15:26] jpnurmi commented on #458
The subiquity backend is missing some dependencies. I run/installed these:
[code]

[2021-11-11 15:36] BioHazard1282 commented on #458
Even with those, I still get to the same point with the keyboard layout.

[2021-11-11 15:37] BioHazard1282 commented on #458
Wasn't this installer orginally going to be in 21.10?

[2021-11-11 15:38] jpnurmi commented on #458
Daily canary images have the new installer: https://cdimage.ubuntu.com/daily-canary/

[2021-11-11 15:39] BioHazard1282 commented on #458
Should I try current?

[2021-11-11 15:53] Feichtmeier commented on #458
@jpnurmi

After a fresh install on a new vm and following the readme instructions including the python dep installation for subiquity I also receive an empty keyboard layout page with the following errors:

The important part is (I think) that a python lib `aiohttp` is missing for a flutter snap installation:

[code]
Flutter channel I tried is master, dev and beta

After running the installation s

[2021-11-11 15:58] jpnurmi commented on #458
Sorry, I don't know what is a good workaround for the Python conflict. The issue is described here: https://github.com/canonical/ubuntu-desktop-installer/issues/364. "Vanilla" Flutter works.

[2021-11-11 16:01] jpnurmi commented on #458
My bad, apparently you have to be in the `packages/subiquity_client/subiquity` and execute `sudo ./scripts/installdeps.sh`.

[2021-11-11 16:26] BioHazard1282 commented on #458
So I guess I can close this now since my problem was (sort-of) resolved?

[2021-11-11 16:27] jpnurmi commented on #458
My apologies that you are facing several issues. The original issue was resolved, though. :)

[2021-11-11 16:27] BioHazard1282 commented on #458
yay! owo

[2021-11-11 16:27] #458 closed

[2021-11-12 03:12] CarlosNihelton commented on #447
Could we fork that one, add translation capabilities and make a pull request to the author?

[2021-11-12 07:27] jpnurmi commented on #465
For reference

**flutter/lib/src/material/material_localizations**:

[code]

**flutter_localizations/lib/src/material_localizations.dart**:

[code]

**flutter_localizations/lib/src/l10n/generated_material_localizations.dart**:
[code]

P.S. Notice two different `_MaterialLocalizationsDelegate` classes.

[2021-11-12 10:14] Feichtmeier commented on #458
This works, I could update the readme a little bit if you like

[2021-11-12 11:42] jpnurmi commented on #458
That would be very much appreciated, thanks!

[2021-11-15 11:43] Feichtmeier commented on #458
https://github.com/canonical/ubuntu-desktop-installer/pull/505
:) Please have a look

[2021-11-15 19:48] dbungert opened #507 "Register log file with apport"
We should include the log file with apport reports.  Perhaps the hooks system can be used?  https://wiki.ubuntu.com/Apport#Per-package_Apport_Hooks

[2021-11-16 09:40] jpnurmi commented on #160
Feel free to reopen if there's anything missing. :)

[2021-11-16 09:40] #160 closed

[2021-11-16 10:43] jpnurmi opened #510 "Compilation errors in test/ dirs"
There's an issue that e6693ec5ae3eb39e0409a6e46180242bff85f481 missed. It's not possible to disable _only_ linters for specific directories: https://github.com/dart-lang/linter/issues/320. Excluding the `test/` directory in `analysis_options.yaml` results in compilation errors from the analyzer not showing up either, until the test is run.

![image](https://user-images.githubusercontent.com/140617

[2021-11-16 12:20] #510 closed

[2021-11-16 13:11] jpnurmi commented on #376
Large Yaru fonts and a duplicate libLLVM were removed. The final compressed size of the snap package went down a few tens of MB.

[2021-11-16 13:11] #376 closed

[2021-11-16 13:37] jpnurmi opened #512 "Context menu language is wrong in the daily canary image"
When navigating through the installer without changing the default English language, the log viewer's context menu in the installation slides screen has a wrong language in the daily canary (20211116). In a development environment, the language is correct.

**Live run with the daily canary (20211116):**
![image](https://user-images.githubusercontent.com/140617/141994034-8f9279ce-1d0a-4ce2-a26b-012

[2021-11-16 14:59] kenvandine opened #513 "Curtin traceback in latest jammy canary image"
[subiquity-server-debug.log](https://github.com/canonical/ubuntu-desktop-installer/files/7547490/subiquity-server-debug.log)

[2021-11-16 15:06] oSoMoN opened #514 "Font rendering changes when selecting some languages on the welcome screen"
This is a minor issue, and maybe even irrelevant, but I'm filing it just in case, because I just came across it.
When selecting some of the "exotic" languages (no offence intended, they look exotic to me) towards the bottom of the list on the installer's welcome page, the rendering of other entries in the list changes, as if the font used to render those entries had changed.

A screencast is worth

[2021-11-16 16:17] jpnurmi commented on #512
FWIW, the problem is reproducible with such a minimal Flutter app:
[code]
![Screenshot from 2021-11-16 17-16-23](https://user-images.githubusercontent.com/140617/142023297-26a616f5-c251-4b17-b670-bbff10daeb79.png)

[2021-11-16 16:20] jpnurmi commented on #512
[WidgetsApp.supportedLocales](https://api.flutter.dev/flutter/widgets/WidgetsApp/supportedLocales.html):

[2021-11-16 18:12] jpnurmi opened #518 "Low resolution support"
From https://discourse.ubuntu.com/t/new-desktop-installer-preview-build/24765/38

This is how 800x600 looks:
| Ubuntu Desktop Installer | Ubiquity |
|---|---|
| ![image](https://user-images.githubusercontent.com/140617/142040962-730eaeb7-549b-4948-9dd9-e60b34eca589.png) | ![image](https://user-images.githubusercontent.com/140617/142041643-157f7d87-d92c-4e4c-a164-c63eeacf6548.png) |

[2021-11-16 18:20] jpnurmi commented on #518
See also #253

[2021-11-17 10:24] fitojb commented on #518
This is the kind of issues caused by pseudo-“touch-friendly”, super-padded out UI design that is so en vogue right now. I already reported this exact issue years ago to Yaru designers, who were stubborn and rejected it

[2021-11-17 14:22] Feichtmeier commented on #518
No this is not kind of the issue.
This problem can be fixed by building this page with a LayoutBuilder which can digest screen constraints, like for example:

https://github.com/ubuntu/yaru_widgets.dart/blob/9a94d220e98625b9a810c30a629a534d6dcd3f44/lib/src/yaru_master_detail_page.dart#L39-L63

[2021-11-17 14:54] jpnurmi commented on #518
From what I've tried earlier, the app remains fairly usable even if the window size is significantly smaller. Earlier, 960x680 was seen as a reasonable minimum size, but I think we could improve the window sizing logic to make it fit into a 800x600 desktop's available workarea while the app would still remains usable.

[2021-11-17 15:55] seb128 commented on #440
It doesn't seem to be on the design assets, do we need their input there or do we just do what ubiquity was doing?

[2021-11-17 19:57] dbungert commented on #513
lsblk output, in the manner curtin invokes it, is different.  I have started teaching curtin how to deal with the new format - https://code.launchpad.net/~dbungert/curtin/+git/curtin/+merge/412027 - or we might also solve this by bundling util-linux in the snap.

[2021-11-18 10:37] jpnurmi commented on #368
_Originally posted by @seb128 in https://github.com/canonical/ubuntu-desktop-installer/pull/422#pullrequestreview-775949426_

How should we proceed?

[2021-11-18 10:39] jpnurmi commented on #465
Solved by #506

[2021-11-18 10:49] jpnurmi commented on #303
I'm closing this because it's being taken care of in Flutter. There was some keyboard refactoring during the summer and the aftermath is still ongoing:
- https://github.com/flutter/flutter/issues/93278
- https://github.com/flutter/flutter/issues/91064
- https://github.com/flutter/flutter/issues/87391
- https://github.com/flutter/flutter/issues/89982
- ...

[2021-11-18 10:54] jpnurmi commented on #7
Announced on the ubuntu-translators mailing list: [New desktop installer is translatable on weblate](https://lists.ubuntu.com/archives/ubuntu-translators/2021-November/007779.html)

https://hosted.weblate.org/projects/ubuntu-desktop-installer/

[2021-11-18 10:54] #7 closed

[2021-11-18 11:00] jpnurmi commented on #163
https://github.com/canonical/ubuntu-desktop-installer/pull/522 lets subiquity make the decision

[2021-11-18 12:15] seb128 commented on #368
I think that's fixed, it seems to do the right thing here. The slot isn't needed since as a classic snap owning the dbus name is blocked by snap

[2021-11-18 12:15] #368 closed

[2021-11-18 12:28] #513 closed

[2021-11-18 12:43] seb128 opened #526 "Doesn't display a warning when trying to install on a laptop not connected to power"
Ubiquity is doing that, from the old installer specification

[2021-11-19 00:04] dkwingsmt commented on #303
Actually if you're still encountering this bug we'd appreciate it if you leave it open. Can you check if it's still in the latest main?

[2021-11-19 02:21] dkwingsmt commented on #303
(Came with the reference from the Flutter issue.)

Hi, my apology from the disturbance. Although we're indeed trying our best to fix known bugs of the keyboard system, it's not guaranteed that this issue is recorded as an open ticket.

Nevertheless, I think this should have been fixed by https://github.com/flutter/engine/pull/29550, which is applied to revisions after [4172c7dc005e18c7faec1ea0108c

[2021-11-19 08:04] jpnurmi commented on #303
Hi! Sure, we can keep this open as a reminder. I must say I already got used to restarting the app and started ignoring the errors. I tend to switch the channels back and forth for various reasons so I'm not sure if I have faced the error on the master channel recently, but I'll try to pay more attention to it. The master channel definitely works a lot better - thanks for your work on it.

[2021-11-19 13:08] jpnurmi commented on #303
@dkwingsmt It's hard to come up with reproducible steps, but somehow I managed to get this with Flutter master when running https://github.com/jpnurmi/where_are_you from VS Code.

[code]

Is this related to the issues at hand, or is it an unrelated platform channel communication issue between the FW and engine, where the symptoms happen to look similar?

The Flutter version is:
[code]

[2021-11-22 11:49] #323 closed

[2021-11-25 10:32] jpnurmi commented on #526
@seb128 Can you see the warning in Ubiquity? I'm having trouble getting it to show up.

[2021-11-25 10:36] jpnurmi commented on #526
The conditions are met:
- `org.freedesktop.UPower.OnBattery` is true
- `/sys/class/power_supply/BAT0/type` contains "Battery"

- https://git.launchpad.net/ubiquity/tree/ubiquity/plugins/ubi-prepare.py#n109
- https://git.launchpad.net/ubiquity/tree/ubiquity/upower.py

I'm not sure, but I suspect that part of the UI went missing or was taken out (?) in https://git.launchpad.net/ubiquity/commit/ubiqu

[2021-11-25 13:05] jpnurmi commented on #440
Ubiquity's logic for calculating the required disk space: https://git.launchpad.net/ubiquity/tree/ubiquity/misc.py#n934
[code]

In Jammy, there's:
[code]

Is it best to have this sort of logic in subiquity since it already knows which squashfs is relevant?

[2021-11-25 20:43] mwhudson commented on #440
Yes, this should be in subiquity. There's some additional fun because the filesystem layer subiquity installs does not have a kernel in but well. Details!

[2021-11-26 10:09] jibel commented on #41
Since the password input is hidden, a password confirmation field must be added to ensure that the password is correct.

[2021-11-29 10:26] jpnurmi commented on #526
Ubiquity 21.10:
| No space, no internet, on battery | No internet, on battery | On battery | On AC |
|---|---|---|---|
| ![no_space](https://user-images.githubusercontent.com/140617/143850651-d3e7e6cd-2c31-4e76-8e59-aa37f045a23e.png) | ![VirtualBox_Ubuntu 21 10_29_11_2021_11_20_04_no_internet](https://user-images.githubusercontent.com/140617/143850820-43e752b6-04fa-466d-9ef9-102493cf44cb.png) | ![

[2021-11-29 12:33] jpnurmi commented on #526
I have compared Ubiquity's warnings between 21.10, 16.04, and 15.10. Even though the source code still has some leftover references to the warning about not being connected to AC, such warning doesn't show up in 16.04 or later.

[2021-11-29 14:44] seb128 commented on #526
Thanks for checking, the idea still makes sense I think so let's perhaps keep it as a wishlist and try to see if design think it's worth including to their visuals

[2021-11-30 03:06] mwhudson commented on #526
Thanks to another bug report, we found that unattended-upgrades refuses to run on a metered connection. Should the installer perhaps default to an offline installation in this situation? Kernels are in general installed from the network and can be rather large.

[2021-11-30 11:59] jpnurmi commented on #31
Is there not going to be a _"Download updates while installing Ubuntu"_ checkbox like in Ubiquity? /cc @elioqoshi

![image](https://user-images.githubusercontent.com/140617/144043378-c0924149-6103-4e57-9ad1-546e8867d2dc.png)

[2021-11-30 12:36] jpnurmi commented on #526
This reminds me that @vanvugt suggested always defaulting to offline for faster installation == better UX.

[2021-11-30 13:26] seb128 commented on #526
We should probably start another issue for the offline installation question.

It would probably makes sense to not download much by default, but if offline means no use of the geolocation service as well then it's a bit of a more tricky question.

On ubiquity we have a 'download updates during installation' option which unchecked by default

[2021-11-30 19:56] jpnurmi opened #546 "Increase the visual density?"
The default visual density of Flutter desktop apps is relatively low. As mentioned in the Material [density guidelines](https://material.io/design/layout/applying-density.html#usage), increasing the density could be beneficial especially for those screens that have lists and tables (languages, keyboard layouts, access points, partitions).

Flutter allows specifying the visual density on a scale fr

[2021-11-30 20:16] oSoMoN commented on #546
I am no designer but to my untrained eye a value of -4.0 looks way more desktop-friendly indeed.

[2021-11-30 21:14] Feichtmeier commented on #546
If you limit this to list tiles I think this is a good idea.
However I would leave buttons as-is

You could try this yaru.dart branch and see if this fits for you:
https://github.com/ubuntu/yaru.dart/tree/dense_tiles

[2021-12-01 07:11] jpnurmi commented on #546
Some random remarks:
- yaru.dart forces `VisualDensity.standard` for all buttons. Using (minimum) size constraints would be a less obtrusive way to ensure that buttons don't get too cramped. It would still allow adjusting the global density for accessibility reasons, for example.
- Dense list tiles could be an option indeed, even though there are others such as data tables to consider, too.
- The

[2021-12-01 07:44] Feichtmeier commented on #546
The buttons are in line with the GNOME themes also acked by a long Chung on a yaru ticket and a big click target is always a very good idea especially nowadays where people own laptops with touch screens

The input decoration looks indeed too big.
At some point we've changed on the input decoration away from the standard underline but maybe this could be reconsidered. I'll try to change the height

[2021-12-01 07:49] jpnurmi commented on #546
Notice that I'm not saying that buttons should be smaller by default, but that using minimum size constraints seems like a more flexible way to achieve the same looks. That way the button size is not hardcoded, but the overall density is respected when decreased.

[2021-12-01 07:57] Feichtmeier commented on #546
I think changing the density globally outside of the theme is not a good idea. We should find sizes for all widgets we use that work for us and use this consistently across all apps/pages. Maybe we can indeed move this discussion to yaru, sorry for not reacting in time last time

[2021-12-01 08:22] jpnurmi commented on #546
I understand the need of having consistent default sizes across the desktop and it should be easily achievable without hard-coding a fixed density for specific widgets. Hard-coding the density on a theme level doesn't prevent resizing widgets anyway. It just makes it clumsier to build specialized apps targeted at certain groups requiring increased accessibility. There's a good reason why UI framew

[2021-12-01 08:24] jpnurmi commented on #546
I guess we need to create a new ticket because GitHub doesn't allow moving tickets between orgs.

[2021-12-01 08:50] jpnurmi commented on #546
What I'm proposing is to make buttons behave like dropdowns and textfields. Notice how the size of -2.0 to -4.0 dropdowns and textfields stays the same. They have reached their minimum size constraints, so they won't shrink smaller regardless of the density scale. Considering that -2.0 is the default on desktop, this also ensures nice and coherent default looks across the desktop. Compared to butt

[2021-12-01 09:13] Feichtmeier commented on #546
Okay, we might end up with a solution which satisfies everyone, let's move over to yaru.dart, maybe I just misunderstood you, and you could share where you want to change the density exactly in the code.

[2021-12-03 08:42] jpnurmi commented on #518
The window is now maximized on app startup if the preferred window size doesn't fit the available workarea. As suggested in https://github.com/canonical/ubuntu-desktop-installer/issues/518#issuecomment-971658672, we should consider improving it further by automatically resizing the window to the preferred size if it fits after changing the resolution.

[2021-12-06 17:26] jpnurmi commented on #319
When the issue was last reported, the UI already had a similar loop but 10 x 1s instead.

It would be great to show a warning or something when it takes suspiciously long to connect, but we could let the client keep trying under the hood. The UI is unusable anyway regardless of whether it keeps trying or gives up after an arbitrary amount of attempts.

[2021-12-13 08:55] #363 closed

[2021-12-13 09:58] jpnurmi opened #566 "Errors while building the curtin part of the snap"
[code]

[2021-12-13 10:07] Feichtmeier opened #567 "Welcome screen alignment and design"
I agree with [this comment](https://discourse.ubuntu.com/t/new-desktop-installer-preview-build/24765/49) on discourse that the alignment of this window is inconsistent with the rest of the pages.

![](https://raw.githubusercontent.com/canonical/ubuntu-desktop-installer/main/.github/docs/images/preview_screenshot.png)

Since everything in the installer is left aligned this ListView in the middle sh

[2021-12-13 10:24] sukso96100 commented on #567
Maybe a language icon(something like yaru icon of `gnome-language-selector`) and a message "Please choose your language"?

[2021-12-13 15:29] jpnurmi commented on #546
With https://github.com/ubuntu/yaru.dart/pull/117:

![Screenshot from 2021-12-13 16-26-42](https://user-images.githubusercontent.com/140617/145839984-46c136a0-d3bf-4753-891d-b346a5bddf91.png)
![Screenshot from 2021-12-13 16-26-59](https://user-images.githubusercontent.com/140617/145839983-8f2417d5-1f87-41c7-b8b6-c3994b86adfd.png)

[2021-12-14 13:13] #512 closed

[2021-12-14 14:58] dbungert commented on #566
I'm a fan of fixing warnings, so I want to fix this.  To understand the severity, is this blocking the build or just a warning that uses the term error?

[2021-12-15 15:45] paride opened #581 "Please enable (experimental) autoinstalls"
For automated ISO testing we need a way to perform fully automated installs from the images. Subiquity is already able to perform automated installs, however autoinstalls have been explicitly disabled in the desktop installer because the UI for them is missing: https://github.com/canonical/ubuntu-desktop-installer/commit/5d1025408ce7a4dee8339f1ce260577564c8a662.

What I propose is to modify `snap/

[2021-12-16 02:53] mwhudson commented on #581
FWIW it would be preferable for CI to have something that can manipulate the client to mimic a human performing the install. I don't know practical that is with flutter though. (openqa anyone??)

[2021-12-16 07:23] jpnurmi commented on #581
Flutter cannot help with a pristine ISO or the installer snap, but if you'd have the installer sources available, Flutter's integration test framework could run through the whole installation wizard. The PR is pretty outdated by now, but I wrote some integration tests a while back: https://github.com/canonical/ubuntu-desktop-installer/pull/283. The screencast is a dry-run, of course, but I experim

[2021-12-16 07:50] #415 closed

[2021-12-16 08:49] paride commented on #581
That's something I'll look into early next year.

[2021-12-16 09:05] paride commented on #581
@jpnurmi yes pristine ISO tests are really desirable, but for the moment performing an autoinstall with be enough to exercise some critical components of the install process (the autoinstall path of subiquity-server, curtin, cloud-init), moreover the autoinstall feature itself deserves testing, so this is good in any case.

[2021-12-17 08:52] Feichtmeier opened #583 "Use libhandy to round all four window corners"
Most gnome applications preinstalled in Ubuntu 21.10 use libhandy to somehow modify gtk3 that all four window corners are round:

![grafik](https://user-images.githubusercontent.com/15329494/146516094-41c19fcf-8886-450b-a3d3-15d54018f322.png)

We've managed to include and use libhandy inside the settings project:
https://github.com/Feichtmeier/settings/commit/7f62addf697a7eabdb0bf9431298bd9787e009

[2021-12-30 09:35] lucamosca1 opened #586 "Encryption disk option missing"
As per subject, could be useful that an option to encrypt disk (with user password or a different one) is available and put in evidence.
In actual installer of 20.04 and 21.10 (I think), encryption option is hidden in 'Advanced' but other ubuntu derivates such as actual PopOS and Elementary has a proper screen in installation wizard.
I think that the same thing should be done here, in some compani

[2022-01-04 08:19] oSoMoN opened #589 "Cannot see password on the "Who are you" page"
Users have reported that there should be a toggle in the password fields on the "Who are you" page, to allow viewing the entered passwords.
This is especially important because there may be bugs in the keyboard layout selection, which result in the user not knowing for sure that they entered their password correctly.

[2022-01-04 08:40] jpnurmi commented on #586
Hi! We're still missing some pieces (subiquity & design) to be able to enable disk encryption, but it will eventually be there.

[2022-01-04 09:49] Feichtmeier commented on #589
@oSoMoN if you want you can assign me to this :)

[2022-01-04 14:28] #581 closed

[2022-01-04 17:51] #589 closed

[2022-01-06 09:17] jpnurmi opened #593 "Device product and vendor names from NetworkManager"
NetworkManager has product and vendor names (`nm_device_get_product()` and `nm_device_get_vendor()`) for network devices (not exposed in NM's D-Bus API, though). It would be nice to get this information straight from NM/nm.dart like everything else related to network devices, and similarly to how storage devices' product and vendor names are fetched from subiquity. This would allow us to drop the

[2022-01-06 11:09] jpnurmi commented on #593
https://gitlab.freedesktop.org/NetworkManager/NetworkManager/-/issues/891

[2022-01-07 11:07] lucamosca1 commented on #586
Ok, cool. It was just a suggestion, you can close the issue.

Many thanks

[2022-01-07 14:09] elioqoshi commented on #229
@kfiresmith Thank you for your patience on this. We finished a first version of the designs for having feature parity from Ubuntu Server on Desktop. Your input would be appreciated here as we are aiming to land this in 22.04.

Figma clickable prototype: https://www.figma.com/proto/0oKbszYR8kIfdogBIrYj5W/Ubuntu-22.04-LTS-Desktop-Installer-LVM?page-id=1%3A3680&node-id=1%3A3749&viewport=241%2C48%2C0.

[2022-01-09 12:44] corradoventu commented on #428
screen ‘Installation type’ says: ‘The computer currently has no detected operating systems…’ while I have 4 different Ubuntu versions installed in various partitions of nvme disk of my PC
Tested with subiquity 203, 209, 214, 226

[2022-01-09 15:53] corradoventu commented on #459
Still same problem with subiquity 226. see log.zip attached to my bug https://bugs.launchpad.net/subiquity/+bug/1956777
in this case I continued the install and despite the crash the install was successful,

[2022-01-09 20:46] kfiresmith commented on #229
Phenomenal work @elioqoshi!   I'm thrilled to see how this has come along and it makes me feel really great about the upcoming LTS release.

I really appreciate the work that's gone into ensuring that the new desktop installer is making the features of Subiquity available to folks performing the installation.

I think that this looks great and would love to kick the tires as soon as this feature b

[2022-01-10 10:14] jpnurmi opened #599 "Networking activity outside the Connect to internet page"
All networking-related activity should be suspended when navigating past the Connect to Internet -page.

Currently, network device monitoring starts when ethernet & wifi models are initialized, and stops when ethernet & wifi models are disposed. The problem is that pages and their models are only disposed when popped off from the page stack, not when another page is pushed on top. In other words,

[2022-01-10 12:19] seb128 commented on #583
@robert-ancell hey, do you have any opinion about using libhandy?

[2022-01-10 14:37] oSoMoN commented on #589
Thanks for implementing this @Feichtmeier !

[2022-01-10 15:27] Feichtmeier commented on #589
You're welcome! :)

[2022-01-10 21:37] robert-ancell commented on #583
I think it should be OK because:
- libhandy is being used in many apps.
- We're only using a small subset of it.
- For the installer, we'll be able to control the exact version of libhandy, which avoids the sometimes unstable nature of it.

It may be worth investigating how much code libhandy is using for the rounded windows, and moving that into the Flutter shell or the desktop installer, but tha

[2022-01-11 09:41] seb128 commented on #583
@Feichtmeier would you maybe be wanting to work on the PR for the change?

[2022-01-11 09:46] jpnurmi commented on #583
I'm sure there's more code to strip off, but here's the result of throwing out everything except `HdyWindow`, `HdyHeaderBar`, and their dependencies:

- lines of code (src/*) went down from ~31k to ~4k
- release build size went down from 896kb to 151kb

[2022-01-11 10:56] Feichtmeier commented on #583
I can but all the work has been done by @jpnurmi in this case so I can replicate the changes in the Linux directory in the settings app in the installer if you like

[2022-01-11 11:02] jpnurmi commented on #583
Using libhandy is straightforward, but getting it in the snap is the laborious part. core20/20.04 has too old libhandy (0.x) without support for rounded corners, so I suppose libhandy 1.x would need to be built as part of the snap.

[2022-01-11 14:11] jpnurmi commented on #583
By the way, it would be interesting to see if this has any effect on the window decoration rendering issue.

[2022-01-11 14:20] kenvandine commented on #583
It should be trivial to build libhandy as a part, I've done this in a few snaps before.

[2022-01-12 07:29] jpnurmi commented on #583
I'm running into a library version mismatch, possibly because the Flutter snap is core18 and therefore pulls in old versions of GTK & GLib etc.?

This is what I have for libhandy in snapcraft.yaml:
[code]

I can see in the snapcraft output that version 3.24 gets installed:
[code]

Also, meson finds 3.24 version when building libhandy:
[code]

However, when building the installer, pkg-config finds

[2022-01-12 10:51] jpnurmi commented on #583
If someone wants to help out with the snap config changes, the libhandy changes are here: https://github.com/jpnurmi/ubuntu-desktop-installer/commit/9d86e82f42e10d07d3c38e610fab9f4282080306

[2022-01-12 15:09] jpnurmi commented on #583
Nevermind, I managed to build a snap with libhandy. :smile: The bad news is that the same rendering issues are still there.

https://user-images.githubusercontent.com/140617/149166485-b70020b3-3d8a-41bd-b196-f53c4c80a792.mp4

[2022-01-12 16:35] Feichtmeier commented on #583
Awesome!
Is this eventually related https://github.com/canonical/flutter-snap/issues/63 ?

[2022-01-13 09:40] jpnurmi commented on #567
I like the idea of using some nice welcoming graphics more than focusing too much on the fact that the user can (optionally) select a language.

[2022-01-13 10:32] Feichtmeier commented on #567
Indeed!
Svgs (as those [official mascot SVGs by canonical designers](https://discourse.ubuntu.com/t/official-artwork-downloads-for-impish-indri/24291)) can be loaded as widgets into flutter with

[code]

via https://pub.dev/packages/flutter_svg

[2022-01-13 17:21] Feichtmeier commented on #567
![grafik](https://user-images.githubusercontent.com/15329494/149377662-3a8fe1d6-4e27-41c4-92b0-0a0b3a6fcf3b.png)

![grafik](https://user-images.githubusercontent.com/15329494/149378134-6d0dfae4-18a9-47bb-a1f9-6215ab054ea8.png)

Result

[2022-01-14 16:17] paride opened #613 "[autoinstall] missing packages on the live image: mdadm, multipath-tools"
When trying to perform an autoinstall (currently booting with `experimental-autoinstall` in the cmdline) with the canary images with a simple `user-data` like:
[code]
the installer fails looking for binaries from the `mdadm` and `multipath-tools` packages. I think subiquity assumes they're present because they're part of the server ISO images. For feature parity they should be included in the Desk

[2022-01-14 16:27] paride opened #614 "[autoinstall] subiquity assumes the live system netplan uses systemd-networkd"
When trying to perform an autoinstall (currently booting with `experimental-autoinstall` in the cmdline) with the canary Desktop images with a simple `user-data` like:
[code]
subiquity fails configuring the network on the live system. It drops some configuration to `/etc/netplan` which assumes the netplan renderer is networkd, but in the Desktop live installer that's NetworkManager. The resulting

[2022-01-14 20:23] dbungert commented on #613
@seb128 - do you want mdadm and multipath-tools in the seed for the iso?

[2022-01-17 14:35] bittin opened #616 "Installer Broken 17th January Canary Image"
Hello!

The installer, does not all work to install anything with yet, tested in a Virtualbox VM atleast the 86% Swedish looks good
the daily image with the older installer works however

[2022-01-17 15:22] bittin commented on #616
![VirtualBox_Ubuntu Installer Test_17_01_2022_16_19_15](https://user-images.githubusercontent.com/43197/149796310-4476eac1-a161-47fe-83d3-5d194e114e0c.png)

Screenshot and Error log attached: https://pastebin.com/u57Mgqn0 as @seb128 wanted

[2022-01-17 15:23] seb128 commented on #613
We didn't include them initially because technically they shouldn't be required on desktop at the moment since we don't have any way to configure raid for example.

It would probably be worth checking if subiquity really needs those or if that's a bug?

In any case they are small and if that's the easier fix or the right thing to do it's fine added them to the desktop image. If it's a workaround m

[2022-01-17 15:38] jpnurmi commented on #616
We should have a fix available soon.

In `/var/log/installer/subiquity-server-debug.log`:
[code]

[2022-01-17 15:39] paride commented on #613
IMHO there's an underlying question: do we want subiquity-server to be agnostic on whether it's installing Desktop or Server, or do we want/accept it to behave differently?

[2022-01-17 15:40] bittin commented on #616
next log @seb128 requested: https://pastebin.pl/view/4f4abe49

[2022-01-17 15:49] jpnurmi commented on #616
Probably a matter of updating subiquity: https://github.com/canonical/subiquity/pull/1161

[2022-01-17 15:51] bittin commented on #616
@jpnurmi thanks, will try with next weeks canary test ISO then and hope it works better then

[2022-01-17 16:09] jpnurmi commented on #616
canonical/subiquity#1161 helped with the str concatenation issue. The next issue is:
[code]
There's an unmerged fix available: canonical/subiquity#1163

[2022-01-17 21:13] #372 closed

[2022-01-18 14:57] #477 closed

[2022-01-19 01:28] mwhudson commented on #613
It's not completely obvious to me the way in which the install fails if these are not available, nor why that autoinstall change would fix it. Can you paste a log fragment?

I would prefer for the install to not fail if these packages are not installed though.

In terms of "should the desktop image have these packages"... it's a bit hard to say. I think the argument for mdadm is stronger than that

[2022-01-19 10:17] #583 closed

[2022-01-19 10:22] #616 closed

[2022-01-20 09:13] #526 closed

[2022-01-20 14:24] seb128 commented on #507
https://code.launchpad.net/~ubuntu-core-dev/ubuntu/jammy/apport/ubuntu-desktop-installer/+merge/414402 should resolve the issue

[2022-01-24 12:25] jpnurmi commented on #416
The LVM option was enabled for guided partitioning in #517. The LVM design for manual partitioning is here: https://github.com/canonical/ubuntu-desktop-installer/issues/229#issuecomment-1007434699.

[2022-01-24 12:25] #416 closed

[2022-01-25 11:35] bittin commented on #616
Still broken for me with the 25th January 2022 Canary ISO

[2022-01-25 11:55] jpnurmi commented on #616
Could you share some details and logs? 20220125 installs fine for me.

![20220125_1](https://user-images.githubusercontent.com/140617/150972354-afcff40d-a118-4610-b4ab-f3e4c99d4ce5.png)
![20220125_2](https://user-images.githubusercontent.com/140617/150972435-a49fbb3e-a117-4b8d-a57f-df4de3fe6d77.png)
![20220125_3](https://user-images.githubusercontent.com/140617/150972544-cf22d4b0-5ddb-46a1-9bc0-6b

[2022-01-30 15:15] bittin commented on #616
Works with the 30th January 2020 Build, have not been able to test before today

[2022-02-01 08:52] jpnurmi opened #652 "Where are you: spurious search request when selecting a location"
_Originally posted by @oSoMoN in https://github.com/canonical/ubuntu-desktop-installer/issues/573#issuecomment-1022342987_

[2022-02-01 09:00] #38 closed

[2022-02-01 13:57] #567 closed

[2022-02-02 06:54] #599 closed

[2022-02-02 11:58] jpnurmi commented on #42
The last remaining piece is to allow expanding and collapsing the terminal output. And maybe resize the window too to make more room for the terminal, like in Ubiquity?

[2022-02-04 13:55] #586 closed

[2022-02-04 14:39] oSoMoN opened #660 ""{RELEASE}" placeholder in strings doesn't allow correct translations"
I was translating strings that were added with the new dynamically generated slideshow into French yesterday, and I came across some strings that cannot be correctly translated because of the `{RELEASE}` placeholder.
For instance, on the welcome slide:

In French, the preposition varies depending on the value of `{RELEASE}`:

VS

[2022-02-04 14:41] oSoMoN commented on #660
In the current ubiquity slideshow, I believe each flavour gets a translation template that is generated by substituting `{RELEASE}` with the name of the flavour (e.g. Ubuntu or Lubuntu), and so translations are not among flavours.

We should probably do the same here.

[2022-02-07 11:05] #483 closed

[2022-02-07 19:07] bittin opened #666 "Installer Broken 7th February Canary Image"

[2022-02-07 19:08] bittin commented on #660
Swedish translation at 95%

[2022-02-08 10:42] jpnurmi commented on #666
I've been using VPN lately to make subiquity choose archive.ubuntu.com instead. I don't know what's up with se.archive.ubuntu.com but for me, the very first apt-get update fails.

[2022-02-08 12:21] jpnurmi commented on #666
Just to elaborate, the log view in the installer shows:
[code]

[2022-02-08 12:55] jpnurmi commented on #660
The idea was that flavors would set up their own translations. Passing localization delegates in `FlavorData` makes it possible to access the translations from the context where slides are built. Would that be sufficient?

I actually had an impression that flavors generally wouldn't use the same texts in the slides. Using a {RELEASE} placeholders seemed the right thing to do, nevertheless, so flav

[2022-02-08 14:04] oSoMoN commented on #660
I agree that re-usability is nice, but if it comes at the expense of correct translations, I'd say it's a no-go.

I don't know what other languages are affected by this problem, if any, but I do care about French, and to re-iterate my point, in the current situation the translation of e.g. the `welcomeSlideDescription` string is incorrect if `RELEASE` == "Ubuntu" (but it is correct if e.g. `RELEAS

[2022-02-08 14:48] bittin commented on #660
96%

[2022-02-08 14:52] #660 closed

[2022-02-09 07:37] #30 closed

[2022-02-09 12:54] seb128 opened #670 "The decoration title is cut when selecting another language"
Using the current canary daily with rev288, if you select another language on the first screen the win title is cut, for example in french it displays 'Installer Ub...'. That's in a gnome boxes instance but the resolution choice doesn't seem to change the result

[2022-02-09 14:20] jpnurmi commented on #670
https://user-images.githubusercontent.com/140617/153219723-4617c132-14c7-42dc-aa81-0af38b4123b1.mp4

[2022-02-09 23:06] madsrh opened #672 "Not all content is visible inside the window"
Two things are obvious from this WM screenshot:

![image](https://user-images.githubusercontent.com/3986894/153304177-de28ad25-065e-458c-bb6b-d6dab3dc919e.png)

1. At 23:47 I really should be sleeping
2. Not all the content of the window is visible

I know that, as soon as I touch the scroll wheel on the mouse, the scrollbar is visible, but I wonder if there should be something to indicate that yo

[2022-02-10 08:10] jpnurmi commented on #672
Typically, this only happens with VMware VMs that have an awfully small resolution/window by default. In that case, we have no other option than to squeeze the window into the available work area. Under normal circumstances, the window size is fixed to 960x680 to match the design.